[2016-03-24 16:55] appleboy opened #1 "Add android notification."

[2016-03-24 16:56] appleboy opened #2 "Add yml config."

[2016-03-25 01:06] appleboy opened #3 "show version in header."

[2016-03-25 01:24] #3 closed

[2016-03-25 01:50] appleboy opened #5 "Support iOS Alert structure."
https://github.com/sideshow/apns2/blob/master/payload%2Fbuilder.go#L22-L32

[2016-03-25 02:40] #5 closed

[2016-03-25 08:42] #1 closed

[2016-03-26 15:49] #2 closed

[2016-03-26 15:49] appleboy opened #9 "Support command line."

[2016-03-27 02:40] appleboy opened #10 "Support Docker deploy, build, testing"
- [x] Build all images in Docker (Darwin, Linux, Windows)
- [x] Testing in Docker
- [x] Deploy in Docker
- [ ] Auto update docker image to docker hub

[2016-03-27 04:59] #9 closed

[2016-03-27 05:10] appleboy opened #12 "build linux, mac and windows os bin command."

[2016-03-27 05:10] appleboy opened #13 "Enhancement command line."
* https://github.com/codegangsta/cli
* https://github.com/alecthomas/kingpin
* https://github.com/spf13/cobra

[2016-03-27 12:23] #12 closed

[2016-03-27 12:25] appleboy commented on #10
realated #14

[2016-03-28 05:39] appleboy opened #15 "Support tls listen"

[2016-03-28 06:42] #15 closed

[2016-04-01 01:52] appleboy opened #17 "Add travis, go report card and coverage."

[2016-04-01 02:23] #17 closed

[2016-04-01 02:26] appleboy opened #20 "Add unit testing."

[2016-04-01 17:05] #20 closed

[2016-04-02 15:52] appleboy opened #22 "Add check ios and android config."

[2016-04-02 16:16] #22 closed

[2016-04-03 13:25] appleboy opened #25 "Support logging"
https://github.com/Sirupsen/logrus

[2016-04-05 07:22] #25 closed

[2016-04-06 12:33] appleboy opened #29 "Support request and response log"

[2016-04-08 07:00] appleboy opened #31 "Add iOS Expiration"
ref https://github.com/sideshow/apns2/blob/master/notification.go#L46-L52

[2016-04-08 11:36] appleboy opened #32 "Support overwrite android api key from post field."

[2016-04-09 02:32] #29 closed

[2016-04-09 04:31] #31 closed

[2016-04-09 06:59] #32 closed

[2016-04-10 01:42] appleboy opened #35 "Support send multiple notification."

[2016-04-10 04:13] appleboy opened #37 "Support limitation for number of notifications"

[2016-04-10 04:15] #35 closed

[2016-04-10 05:12] #37 closed

[2016-04-10 06:37] appleboy opened #39 "Add simple command to send notification for ios or android"

[2016-04-10 08:00] #39 closed

[2016-04-12 03:26] #10 closed

[2016-04-12 06:57] appleboy opened #44 "Support Zero downtime restarts for go servers"
https://github.com/fvbock/endless
https://github.com/braintree/manners

[2016-04-12 07:16] #44 closed

[2016-04-13 01:01] appleboy opened #46 "Enhance android notification payload."
https://developers.google.com/cloud-messaging/http-server-ref#downstream-http-messages-json

[2016-04-13 03:44] #46 closed

[2016-04-13 04:17] appleboy opened #48 "Fix golint error"
See: https://goreportcard.com/report/github.com/appleboy/gopush

[2016-04-13 07:00] #48 closed

[2016-04-14 07:54] appleboy opened #51 "Support multiple worker and queue."

[2016-04-14 15:44] appleboy commented on #51
fix by #53

[2016-04-14 15:44] #51 closed

[2016-04-14 15:45] appleboy opened #54 "Support notification status page."

[2016-04-15 02:42] #54 closed

[2016-04-15 03:16] appleboy opened #56 "Support show yaml config API"

[2016-04-15 07:06] #56 closed

[2016-04-15 16:14] appleboy opened #58 "Support bolt database"
BOLT: https://github.com/boltdb/bolt
ORM: https://github.com/asdine/storm

[2016-04-16 09:10] appleboy opened #59 "gocyclo Error"
https://goreportcard.com/report/github.com/appleboy/gorush

Gocyclo calculates cyclomatic complexities of functions in Go source code. The cyclomatic complexity of a function is calculated according to the following rules: 1 is the base complexity of a function +1 for each 'if', 'for', 'case', '&&' or '||'

[code]

[2016-04-17 05:12] #59 closed

[2016-04-19 06:15] appleboy opened #61 "Support redis"
https://github.com/go-redis/redis

[2016-04-22 15:56] #61 closed

[2016-04-23 07:55] #58 closed

[2016-04-24 05:25] appleboy opened #64 "Check Request Message."
* [ ] the message must not be nil
* [ ] the message's RegistrationIDs field must not be nil
* [ ] the message may specify at most 1000 registration IDs
* [ ] the message's TimeToLive field must be an integer between 0 and 2419200 (4 weeks)

[2016-04-24 09:02] #64 closed

[2016-04-26 15:28] appleboy opened #66 "Improve Stat Memory Engine."

[2016-04-28 05:18] appleboy opened #67 "Support iOS apns-topic flag."

[2016-04-28 07:57] #67 closed

[2016-05-02 02:13] appleboy opened #69 "Improve Stat Redis Engine."

[2016-05-02 02:14] appleboy opened #70 "Improve Stat BoltDB Engine."

[2016-05-02 03:28] #66 closed

[2016-05-02 05:22] appleboy opened #73 "Wrong Stat on redis and boltDB engine."

[2016-05-02 06:54] #70 closed

[2016-05-02 06:55] #69 closed

[2016-05-02 12:24] appleboy opened #75 "Rewrite boltdb, memory and redis engine."

[2016-05-02 13:33] #75 closed

[2016-05-02 13:34] appleboy commented on #73
fxi via https://github.com/appleboy/gorush/pull/76

[2016-05-02 13:34] #73 closed

[2016-05-03 01:58] appleboy opened #77 "Move storage plugin to top folder."

[2016-05-03 02:26] #77 closed

[2016-05-03 09:47] appleboy opened #78 "Testing in Docker"
Try the follwing command:

[code]
missing Redis service.

[2016-05-04 01:00] #78 closed

[2016-05-04 01:08] appleboy opened #80 "Support glide Package Management."
https://github.com/Masterminds/glide

[2016-05-04 06:41] #80 closed

[2016-05-09 07:55] appleboy opened #82 "Support docker compose for concurrent build."

[2016-05-09 07:55] appleboy opened #83 "Getting more done in GitHub with ZenHub"
Hola! @appleboy has created a [ZenHub](http://www.zenhub.io) account for the **appleboy** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.io?utm_source=ZHOnboard

[2016-05-09 07:56] #83 closed

[2016-05-11 09:13] #82 closed

[2016-05-13 14:05] appleboy opened #85 "Support hide device token"

[2016-05-16 14:04] #85 closed

[2016-05-17 05:15] appleboy opened #87 "Improvement Docker testing."

[2016-05-19 15:29] #87 closed

[2016-05-24 03:38] appleboy opened #90 "Support load p12 format on iOS device."

[2016-05-25 10:16] appleboy opened #91 "Remove pem_cert_path config setting"
Only support `pem_path` now.

[2016-05-27 07:08] #91 closed

[2016-05-30 00:59] appleboy opened #93 "Support password parameter when loads a PEM certificate from a local file."

[2016-05-30 07:53] #93 closed

[2016-05-30 08:55] appleboy opened #95 "Enhancement command usages."

[2016-05-31 08:12] #95 closed

[2016-05-31 08:12] #13 closed

[2016-06-04 11:59] appleboy opened #97 "upgrade google gcm library for TimeToLive parameter."

[2016-06-04 12:09] #97 closed

[2016-06-09 07:36] appleboy opened #99 "Support multiple iOS certificate."

[2016-06-10 06:32] appleboy opened #100 "Release new version."

[2016-06-10 13:14] #100 closed

[2016-06-12 12:34] #90 closed

[2016-06-14 01:34] appleboy opened #102 "Support upload ios certificate file."

[2016-06-14 05:59] appleboy opened #103 "Add app stats"
A Go middleware that stores various information about your web application (response time, status code count, etc.)

https://github.com/thoas/stats

[2016-06-26 04:34] #103 closed

[2016-06-30 05:24] appleboy opened #105 "Support testing multiple package in subfolder."

[2016-06-30 06:31] #105 closed

[2016-07-13 08:43] appleboy opened #107 "Support jenkins testing."
* [ ] LOC reporting
* [x] Run tests (JUnit plugin)
* [x] Generate coverage reports (Cobertura plugin)
* [x] Run lint tools (Compiler warning plugin)
* [x] Run vet tools (Compiler warning plugin)

[2016-07-18 13:56] JensRantil opened #108 "Support for HTTP proxy to Google/Apple servers"

[2016-07-19 03:59] appleboy commented on #108
@JensRantil I will take it.

[2016-07-20 05:59] justinlu opened #109 "Any way to get bad/invalid device tokens?"
The APNS HTTP/2 will report bad/invalid device tokens. I think we should removed those invalid tokens from DB to prevent from sending them again and again.

Is there a way to get those from gorush API?

Thanks

[2016-07-21 00:52] #107 closed

[2016-07-29 01:50] #108 closed

[2016-07-29 02:00] appleboy commented on #108
`http_proxy` property only working for `GCM`. `APNS` doesn't support http proxy setting, because `APNS` using golang `http2` library.

[2016-07-29 02:01] appleboy commented on #108
Please try v1.6.0 version.

https://github.com/appleboy/gorush/releases/tag/v1.6.0

[2016-08-02 01:01] appleboy opened #112 "Support BuntDB storage Engine."
BuntDB is a fast, embeddable, in-memory key/value database for Go with geospatial support

https://github.com/tidwall/buntdb

[2016-08-02 09:52] appleboy opened #114 "Docker build error."
Error message:

[code]

[2016-08-02 12:02] imateev commented on #114
I did: `cd $GOPATH/src/github.com/appleboy/gorush`
and then `make docker_build`

I was expecting the build process to be completed, and the docker image created.

[2016-08-02 12:37] appleboy commented on #114
@imateev I will take it.

Thanks for your response.

[2016-08-02 12:53] #114 closed

[2016-08-02 13:00] appleboy commented on #114
@imateev Please try the latest code base or `v1.6.1` tag.

[2016-08-03 06:25] #112 closed

[2016-08-03 16:16] wsoula opened #116 "ERROR: Cannot unmarshal DNS Message"
Trying to run the gorush container in our environment when I post to it with:

[code]

I get error:

[code]

Googling for the error talks a lot about go versions less than 1.6 and consul and netgo.  From what I can tell gorush is using go > 1.6, but we are using consul in our environment.  That token in my above command probably does not exist but I would expect a different error for that.

Can yo

[2016-08-04 14:24] wsoula commented on #116
Using the regular dns for this container instead of consul dns allows we to workaround this issue.  I had to change our depoyment to allow specifying dns and I have moved forward.  Would be nice to know where this should be fixed for real.

[2016-08-05 16:26] imateev opened #117 "Android Notifications fail"
When using the cli tool I get

GCM server error: error sending request to GCM HTTP server: error unmarshaling json from body: invalid character '<' looking for beginning of value

Does anybody has the same issue?

[2016-08-05 17:19] appleboy commented on #117
@imateev Could you provide your command?

[2016-08-06 06:01] appleboy opened #118 "Support Drone CI Build"

[2016-08-06 14:50] #118 closed

[2016-08-08 07:49] imateev commented on #117
./gorush --android -t="token" -m="test"

[2016-08-08 15:41] imateev commented on #117
This Problem was infront of the screen. I was running the command on my machine and not in the kubernetes, so the config was not there :).

[2016-08-08 15:41] #117 closed

[2016-08-15 12:48] appleboy opened #120 "Replace docker alpine with scratch image."

[2016-08-15 13:15] #120 closed

[2016-08-17 06:36] cgyy opened #122 "wrong status code of middleware"
StatMiddleware should be:

[code]

[2016-08-19 07:45] appleboy opened #123 "Support PID file"

[2016-08-20 13:32] #123 closed

[2016-08-22 17:08] chriswessels opened #125 "Queue backends"
Are any persistent backends available for the queuing functionality?

I'd like to persist the queue to ensure a low possibility of data loss and Redis would be ideal.

Thanks!

[2016-09-02 07:57] appleboy opened #127 "Support push notification synchronously"

[2016-09-15 02:37] appleboy opened #128 "Upgrade docker image using go version 1.7.1"
* [x] travis cache
* [x] go version 1.7.1

[2016-09-15 04:06] #128 closed

[2016-09-19 07:11] appleboy opened #131 "Support LevelDB key/value database."
https://github.com/syndtr/goleveldb

[2016-09-19 14:08] #131 closed

[2016-09-19 14:30] chekalskiy commented on #109
Same question about GCM. Maybe add a callback to reporting about bad tokens?

[2016-09-21 07:34] appleboy opened #133 "Add Line notification on drone config."

[2016-09-21 08:47] #133 closed

[2016-09-22 01:19] appleboy opened #135 "Support drone cache."

[2016-09-22 01:39] #135 closed

[2016-09-30 16:17] appleboy opened #137 "Deploy docker image by tag event."

[2016-10-01 07:56] #137 closed

[2016-10-06 01:11] appleboy opened #138 "Add telegram notification for drone."

[2016-10-06 01:25] #138 closed

[2016-10-16 08:51] appleboy opened #140 "中文文件"
提供中文 Readme.

[2016-10-19 17:32] codepushr commented on #109
APNS has (had?) a feedback channel and GCM already sends the invalid tokens directly back in the response - one has to check the `NotRegistered` error in the result.

[2016-10-23 07:20] appleboy opened #141 "Support Retry Send notification if got error response."

[2016-10-23 13:18] #141 closed

[2016-10-25 22:27] serg472 opened #143 "Loading stats pages causes the server to wait for open connections during shutdown"
If I open `http://localhost:8088/api/stat/app` and then attempt to shutdown the server with `Ctrl+C`, it won't shutdown immediately and will wait around 30s for some open connections (even after I close the browser). This happens only if I retrieve the stats page, usually it shuts down right away.

[code]

[2016-10-26 00:00] serg472 opened #144 "Question: What is a recommended way of keeping the push queue under optimal load?"
Can you please describe what would be a reliable way of sending millions of notifications, so I never exceed any internal queue limits or server resources. Am I supposed to monitor api/stat/app and make sure to not add any new pushes if `queue_usage` is near `queue_usage`?

I tried setting config `queue_num=1` and `worker_num=1` and still send 1000 notifications in a loop (I even added 1 sec sleep

[2016-11-11 17:03] chriswessels opened #145 "Process crash due to concurrent map read and map write"
Hi there,

I'm running the appleboy/gorush image as a Docker container, and it seems to crash consistently every 500 minutes or so, with the following output:

[code]

Any ideas?

Thanks

[2016-11-16 05:36] harshpatel19 opened #146 "request with title for ios notification sends an empty alert"
This request only sends an empty notification, just sound.
[code]
this works perfectly
[code]

[2016-12-04 14:20] minchao opened #147 "Support set the value of badge to 0 to remove the iOS badge number"
Refer to the following [code](https://github.com/appleboy/gorush/blob/master/gorush/notification.go#L307): When the badge is 0, It will never create the badge field in payload.

[code]

An option is use pointers for omitempty fields, since that allows a clear distinction between "unset" (nil) and "empty" (non-nil, zero value).

[2016-12-07 06:16] appleboy commented on #147
I will take it.

[2016-12-07 06:27] appleboy commented on #147
Change

[code]

to

[code]

[2016-12-07 06:41] appleboy commented on #146
I will take it.

[2016-12-07 07:37] appleboy opened #149 "Support deploy image to docker hub automatically by drone CI"

[2016-12-07 11:27] appleboy opened #151 "[WIP] Replace travis with drone ci."
* [x] coverage tool
* [x] remove goveralls
* [x] remove docker from travis

[2016-12-07 11:31] #149 closed

[2016-12-07 14:02] #151 closed

[2016-12-07 14:03] appleboy opened #153 "Support gox build tool"
* [x] Support gox build tool
* [x] remove old dockerfile

[2016-12-07 16:25] appleboy commented on #147
https://developer.apple.com/library/content/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/CreatingtheNotificationPayload.html

ref: `Configuring a Silent Notification` section

[2016-12-08 02:23] #147 closed

[2016-12-08 04:14] #153 closed

[2016-12-09 13:03] appleboy opened #156 "[iOS] Silent notification must not contain the alert, sound, or badge keys."
ref: https://developer.apple.com/library/content/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/CreatingtheNotificationPayload.html

[2016-12-09 15:07] #156 closed

[2016-12-13 09:22] appleboy opened #158 "Support Windows binary"
Ref: https://github.com/fvbock/endless/pull/19

[2016-12-13 14:27] #158 closed

[2016-12-14 13:45] appleboy opened #160 "skip ANSI color commands if output is not a tty"
https://github.com/mattn/go-isatty

[2016-12-14 15:24] #160 closed

[2016-12-23 03:13] TianDaGe commented on #117
hello, @imateev
I am trying to use released gorush.
my command is
`gorush -android -m="Hello Android!" -k="API KEY" -t="GCM Registration Key"`

Error message is same with your first error.
[code]
What am I wrong?

[2016-12-23 03:39] appleboy commented on #117
@TianDaGe Wrong device token or API key.

[2016-12-23 06:53] TianDaGe commented on #117
@appleboy I am using emulator for test.
Please check my token and API key
[code]

I got **cXCJR67Mn6:** in the token. so I tested 2 mode with out this string or with in.
`APA91bH852kvIhMbrTyfGnzeR6Q3Q4hGr8gK1aPMbvXd6NhhvJhzEymfQMO8UAWk4VSevLbuz0M2smmAcZAIsdSWXspkhMkttfpkZpGR8Y6kyQLLINnAU5cIDWmKkVeBfxGW0zi6KQun`

but both ways are not working.

[2016-12-23 08:13] appleboy commented on #117
I will try it out later on my android.

[2016-12-23 16:13] appleboy commented on #117
@TianDaGe I try to send notification using my token and API key for latest gorush version. It is working.

<img width="1236" alt="screen shot 2016-12-24 at 12 12 03 am" src="https://cloud.githubusercontent.com/assets/21979/21457922/b33bf358-c96d-11e6-9180-33fb8b4b9a4d.png">

[2016-12-24 03:01] TianDaGe commented on #117
@appleboy I have resolved issue. I have used created API, but now I am using auto generated server api key. so it is working. thanks for your support.
And I will create one issue on ios platform side.

[2016-12-24 03:03] TianDaGe opened #162 "ios notification is not working with tile."
[code]
This is working.

[code]
but this is not working with title.

Merry Xmas!
Thanks for your support again

[2016-12-24 03:44] TianDaGe commented on #162
@appleboy  I found reason why ios title is not working.
ios notification type is like that. that is default. gorush is sending like that.
`{"aps":{"alert":"message"}}`
but if we will need title, alert type must be like that
`{"aps":{"alert":{"body":"message", "title":"title"}}}`
Looking forward to hearing from you soon

[2016-12-24 04:17] TianDaGe commented on #162
@appleboy  so I have just checked your source project.
currently, to show title on platform, we can do like this.
[code]
or we can user subtitle of alert instead of title.
[code]
I think, gorush has to not use message field on ios platform.

[2016-12-24 04:27] TianDaGe commented on #146
I resolved this issue. please check it
ios notification is not working with tile. #162

[2016-12-24 05:22] appleboy commented on #117
@TianDaGe 👍 I will take it later.

[2016-12-24 06:10] appleboy commented on #162
I will take it.

[2016-12-24 08:17] #146 closed

[2016-12-24 08:17] #162 closed

[2016-12-24 08:21] appleboy commented on #162
You can try the following example:

https://github.com/appleboy/gorush#ios-example

[code]

[2016-12-24 08:25] TianDaGe commented on #162
@appleboy I got it.
good work. did you publish released version?

[2016-12-24 08:28] appleboy commented on #162
Bumping version now. Please wait.

[2016-12-24 08:29] TianDaGe commented on #162
And then, I have one request for gorush.
currently, same badge could be selected on every devices. but in the development, every device's badges will be different. I think, badge will be included in data, so developers can use badge on every devices differently. Actually, android platform has not badge field. That is only my asking, anyway gorush is perfect meanwhile using.

[2016-12-24 08:32] appleboy commented on #162
@TianDaGe Please try it.

https://github.com/appleboy/gorush/releases/tag/v1.7.2

[2016-12-24 08:32] appleboy commented on #162
Please let me know it is working or not. Thanks.

[2016-12-24 08:37] appleboy commented on #146
@harshpatel19 Please try [v1.7.2 version](https://github.com/appleboy/gorush/releases/tag/v1.7.2).

You can try the following example:

https://github.com/appleboy/gorush#ios-example

[code]

[2016-12-24 08:52] TianDaGe commented on #162
@appleboy I have just checked v1.7.2
ios platform is working fine. but android platform is not working
I have checked with title and with out title. and I have checked v1.7.1 again. v1.7.1 is working fine

**v1.7.1**
[code]

**v1.7.2**
[code]

my request param is as follow
[code]

[2016-12-24 09:13] appleboy commented on #162
v1.7.2 is working for android platform.

<img width="929" alt="screen shot 2016-12-24 at 5 11 43 pm" src="https://cloud.githubusercontent.com/assets/21979/21466215/3e392d66-c9fc-11e6-9bd2-180789bb1ac4.png">

[2016-12-24 09:19] TianDaGe commented on #162
I have checked on windows version.

[2016-12-24 09:24] TianDaGe commented on #162
@appleboy I have just checked on linux verison.
That is working fine on both platform. but as I checked, window version really is not working on android platform.

[2016-12-24 09:26] appleboy commented on #162
I will try the windows version later.

[2016-12-24 09:28] TianDaGe commented on #162
thanks, looking forward to hearing from you soon.

[2016-12-24 09:35] TianDaGe commented on #162
one more, when i finish gorush listen on linux, it is not finished immediately

I have just pressed Ctrl+C, and i pressed several times after this. but service is not finished immediately.
v1.7.1 was working fine.
[code]

[2016-12-24 09:37] appleboy commented on #162
v1.7.2 is also working on window-amd64.

<img width="664" alt="screen shot 2016-12-24 at 5 35 09 pm" src="https://cloud.githubusercontent.com/assets/21979/21466284/987d1e24-c9ff-11e6-9b77-d509944e64a5.png">

[2016-12-24 09:38] TianDaGe commented on #162
perhaps, do i need go get again?
`$ go get -u -v github.com/appleboy/gorush`

[2016-12-24 09:40] appleboy commented on #162
No, I just download the binary from https://github.com/appleboy/gorush/releases/tag/v1.7.2

You don't need any Go environments.

[2016-12-24 10:00] TianDaGe commented on #162
hahaha
@appleboy  window version is working fine.
I checked with gorush-v1.7.2-windows-386.exe. sorry for now,

[2016-12-26 08:37] TianDaGe opened #164 "ios platform production version is not working"
@appleboy
I have checked ios platform on production mode.

./gorush -ios -m="Hello" -i="./aps.p12" -t="token" -production

[code]
so I added topic
./gorush -ios -m="Hello" -i="./aps.p12" -t="token" -production  -topic="apns topic"
[code]

I have checked sideshow/apns2  directly. that is working, certificate file and device token are fine.
of course, I checked on production mode.
gorush ios platfor

[2016-12-26 09:00] TianDaGe commented on #164
@appleboy
I have checked your code
I have one question on gorush/notification.go 296 line.
Your code is as follow as
[code]
I think, this doesn't need initialize.
How about like that?
[code]
😄  I am a golang beginner.

[2016-12-26 09:10] TianDaGe commented on #164
I resolved this issue. It was my mistake.

[2016-12-26 09:10] #164 closed

[2016-12-27 14:03] appleboy commented on #145
@chriswessels Can you help to try the latest version. https://github.com/appleboy/gorush/releases/tag/v1.7.2

[2017-01-01 04:14] appleboy opened #165 "Replace endless with facebook grace"
https://github.com/facebookgo/grace

[2017-01-01 08:01] #143 closed

[2017-01-01 08:01] #165 closed

[2017-01-01 08:38] appleboy commented on #143
@serg472 Please download binary for [v1.7.3 version](https://github.com/appleboy/gorush/releases/tag/v1.7.3).

[2017-01-03 16:27] chriswessels commented on #145
@appleboy Now running 1.7.3, will let you know if there are any further issues! Thanks :)

[2017-01-03 16:27] #145 closed

[2017-01-04 08:31] appleboy commented on #145
@chriswessels Thanks.

[2017-01-19 07:28] appleboy opened #167 "Support prometheus metrics"
https://prometheus.io

[2017-01-19 08:56] #167 closed

[2017-01-21 03:00] cymonn opened #169 "Support empty notification for android"
Using FCM, I found that we need to send only `data` part **(except `notification` part)**, to android device to receive the notification even if our app is in background.
But gorush always includes notification part because of code below.
[code]
Can you please support empty notification part?
For more help, see example.

I found `onMessageReceived()` is **not** called when sending the both parts.

[2017-01-21 03:14] appleboy commented on #169
I will take it.

[2017-01-21 04:18] #169 closed

[2017-01-21 05:31] appleboy commented on #169
I will bump to next version.

[2017-01-21 05:32] appleboy opened #171 "Support send title on command line."

[2017-01-21 07:46] #171 closed

[2017-01-21 09:26] appleboy commented on #116
Can't reproduce this issue.

[2017-01-21 09:26] #116 closed

[2017-01-21 09:30] #122 closed

[2017-01-21 09:31] appleboy commented on #122
Please report bug to https://github.com/appleboy/gin-status-api

[2017-01-25 02:38] appleboy opened #173 "Set worker_num to GOMAXPROCS as default value."

[2017-01-25 08:29] #173 closed

[2017-01-25 09:57] andreyser commented on #109
To get APNS bad tokens I made a pull request - https://github.com/appleboy/gorush/pull/175

[2017-02-08 08:10] appleboy opened #178 "support mutable-content for ios"
https://developer.apple.com/reference/usernotifications/unnotificationserviceextension

[2017-02-10 05:03] mikepc opened #180 "Support Environment Configuration"
For straight docker deployment, it's really best practice to support Environment variables rather than a configuration file. In container management systems (eg. Kubernetes, Shipyard, Rancher) while it *is* possible to mount a volume and use a configuration file, it's typically a small-medium pain in the butt. These environment variables should override any configuration in the file.

[2017-02-10 05:07] mikepc commented on #144
My plan is to manage the queue in a separate system, and then I can control and diagnose each send. Use something like kafka or other system to queue up the required messages and then send the messages N at a time where N is the maximum possible concurrent load of the gorush server.

[2017-02-10 05:53] appleboy commented on #180
@mikepc Good catch. I will support Environment variables, maybe next week. Thanks.

[2017-02-10 07:03] #178 closed

[2017-02-11 00:56] serg472 commented on #144
@mikepc Sure, but how to figure out "maximum possible concurrent load of the gorush server" part, that's the question. There should be some queue management on gorush side with certain amount of parallel workers. Kafka would be just sending you 100k/sec messages, you can't just spawn new goroutine for every message as it will kill the server, and you can't process them without parallel workers as

[2017-02-11 15:23] mikepc opened #182 "GCM server error: error sending request to GCM HTTP server: error unmarshaling json from body"
I'm going to have to reverse-engineer gorush to figure out what the actual error that's being sent is.

Any Android contract I send gives me the same error.

[GIN] 2017/02/11 - 15:22:26 | 200 |      631.01µs | 172.17.0.1 |   POST    /api/push
time="2017/02/11 - 15:22:26" level=debug msg="Start push notification for Android"
time="2017/02/11 - 15:22:27" level=error msg="GCM server error: error send

[2017-02-11 18:01] mikepc commented on #182
For the API Key are we to use the Web Api KEY in the Firebase console? Where do I source the API Key from?

[2017-02-11 23:15] mikepc commented on #182
For what it's worth, the unit tests are failing with a similar error.

[2017-02-12 05:41] mikepc commented on #182
Ok figured it out, it's not the Web Api Key or the Sender ID or the Application ID, it's the Server Key in the FCM console.

[2017-02-12 05:42] #182 closed

[2017-02-19 05:22] appleboy opened #183 "Add golang 1.8 testing"

[2017-02-19 05:23] appleboy opened #184 "Switch glide to govendor."

[2017-02-19 07:04] #184 closed

[2017-02-19 10:29] #183 closed

[2017-02-21 13:45] appleboy opened #189 "Support system init on debian system"

[2017-02-25 11:58] appleboy opened #190 "embed code into markdown and keep everything in sync"
https://github.com/campoy/embedmd

[2017-02-25 12:31] #190 closed

[2017-03-01 07:29] namkazt opened #193 "POST api/push result success but no push notification send"
i was test with command :
gorush -ios -m="xx" -t="xxx" -i="xxx"
push notificaiton was sent success and display on device
DEBU[2017/03/01 - 07:22:14] Start push notification for iOS
INFO[2017/03/01 - 07:22:14] | succeeded-push | ios [**********5441204dd930405440733e8821d425262e16414dc7d8**********] test

but when i try to use web api. it result success but do not got any notificaiton on device.
{

[2017-03-01 07:38] appleboy commented on #193
@namkazt Could you provide you JSON data?

[2017-03-01 07:41] namkazt commented on #193
Hi @appleboy  thanks for fast reppy

here is JSON data:

{ "notifications": [ { "tokens": ["XXXXXXXXXX5441204dd930405440733e8821d425262e16414dXXXXXXXXX"], "platform": 1, "message": "Hello World iOS!"} ] }

[2017-03-01 07:42] namkazt commented on #193
is there any wrong when i using Postman to test it ?
![2211](https://cloud.githubusercontent.com/assets/6035916/23450365/59e2c0ac-fe8d-11e6-8726-2ad93288be99.png)

[2017-03-01 07:46] appleboy commented on #193
What is your console message?

[code]

[2017-03-01 07:49] namkazt commented on #193
Only this
![cw](https://cloud.githubusercontent.com/assets/6035916/23450533/4514caa2-fe8e-11e6-8a17-ded45f0c913d.png)

[2017-03-01 07:51] namkazt commented on #193
App Info :
// 20170301143820
// http://174.129.117.128:8088/api/stat/app

{
  "version": "v1.7.4",
  "queue_max": 0,
  "queue_usage": 0,
  "total_count": 0,
  "ios": {
    "push_success": 0,
    "push_error": 0
  },
  "android": {
    "push_success": 0,
    "push_error": 0
  }
}

[2017-03-01 08:15] namkazt commented on #193
is there any way to see the error or something ?

[2017-03-02 10:59] namkazt commented on #193
@appleboy i got it working right now. maybe i do not set
worker_num: 0 # default worker number is runtime.NumCPU()
queue_num: 0 # default queue number is 8192

when i set it to
worker_num: 1 # default worker number is runtime.NumCPU()
queue_num: 10000 # default queue number is 8192

it working

[2017-03-02 10:59] #193 closed

[2017-03-02 14:21] appleboy commented on #193
@namkazt I will check `worker_num` setting.

What is your OS?

[2017-03-02 16:28] namkazt commented on #193
version: GoRush v1.7.4, Compiler: gc go1.7.4, Copyright (C) 2016 Bo-Yi Wu, Inc.
server: Ubuntu-trusty-14.04-amd64-server-20170110 (ami-50e64d33)

[2017-03-02 22:20] jtaylor32 opened #194 "Question: Support for standard websocket connections?"
This package looks fantastic with all the capabilities and features it has already. I was wondering though if there is a plan to add in push notifications to websocket connections along with the APNS and GCM features that are already in place.

If there is would definitely like to know -- potentially can help out with that!

Thanks,
Jordan

[2017-03-03 01:02] appleboy commented on #193
@namkazt `v1.7.4` doesn't support default value if user set `worker_num` or `queue_num ` to zero.

See the commit: https://github.com/appleboy/gorush/commit/962c033246d9118e4d29fbe212da4e2b469ad33f

See the `v1.7.4` document here: https://github.com/appleboy/gorush/tree/v1.7.4#features

[2017-03-03 01:22] appleboy commented on #194
Do you mean that send data to Gorush server using WebSocket? we only support HTTP post so far now. Right?

[2017-03-03 03:18] jtaylor32 commented on #194
Correct so leveraging something like gorilla/websocket to send notifications through sockets.

[2017-03-03 06:24] appleboy commented on #194
@jtaylor32 I Got it.

[2017-03-03 10:35] jtaylor32 commented on #194
@appleboy fantastic!! Let me know if there is anything you need me to help on.

[2017-03-03 12:15] jtaylor32 commented on #194
@appleboy just to clarify - this feature would be creating a notification from gorush to a client that is receiving messages with web sockets and not the admin endpoints that send the messages?

[2017-03-03 14:00] appleboy commented on #194
No. GCM or APNS only support HTTP endpoints to send a notification to your device. We can't send notification with WebSocket.

[2017-03-03 14:39] jtaylor32 commented on #194
Right the use case I am looking for is lets say you have a web client that wants to send out a message -- that would currently hit a REST endpoint with the message etc. Then other than GCM/APNS would there be a way to fit just WebSocket on the outbound as well.

HTTP Client -> Gorush <-> WebSocket Client

I can see that might be out of scope but having the capability of a websocket to receive the

[2017-03-21 02:54] lunny commented on #125
Or nsq as a backend.

[2017-03-21 10:01] chriswessels commented on #125
+1 for nsq. That would be excellent.

[2017-03-22 01:35] gkuhlmann14 opened #199 "Client.Timeout exceeded while awaiting headers"
Hi,

Getting the following error when trying to push to production via the server endpoints:
`net/http: request canceled (Client.Timeout exceeded while awaiting headers)`
Server is returning:
[code]
was wondering if anyone's seeing this, seems to be working for me with my dev push certificate

[2017-03-22 01:52] gkuhlmann14 commented on #199
[code]

[2017-03-30 07:53] gebv commented on #109
Can be a callback method via post custom method?
[code]
Or via amqp\nsq or ws?

[2017-04-04 03:50] appleboy opened #204 "Support Let's Encrypt Free SSL/TLS Certificates"

[2017-04-05 04:04] appleboy commented on #204
closed via #205

[2017-04-05 04:04] #204 closed

[2017-04-05 14:03] appleboy opened #206 "Support async or sync mode."

[2017-04-05 15:43] appleboy opened #207 "Check iOS certificate file exist?"

[2017-04-06 02:52] #207 closed

[2017-04-06 04:21] #189 closed

[2017-04-06 07:00] #127 closed

[2017-04-06 07:00] #206 closed

[2017-04-06 18:49] mrchenhao opened #211 "Can I get the push data"
Can I get the information about the push I send before. success or failed?

[2017-04-07 03:42] appleboy commented on #211
@mrchenhao I will implement the sync mode so you can get error message from fail push notification in API response.

[2017-04-07 03:43] appleboy commented on #211
duplicated of https://github.com/appleboy/gorush/issues/109

[2017-04-07 03:44] appleboy commented on #109
I will implement the sync mode so you can get error message from fail push notification in API response.

[2017-04-07 03:44] #211 closed

[2017-04-07 07:04] appleboy opened #212 "Improve autocert with letsencrypt in one line."
https://github.com/go-training/training/blob/master/example10-simple-http-server/server/server06.go

[2017-04-10 03:46] #109 closed

[2017-04-10 06:10] appleboy commented on #109
Release v1.8.1 https://github.com/appleboy/gorush/releases/tag/v1.8.1

If you need error logs from sending fail notifications, please set `sync` as `true` on yaml config.

[code]

See the following error format.

[code]

[2017-04-11 09:40] tcolepc commented on #199
Hi,
something similar happened to me. Then via "GODEBUG=http2debug=1"

`GODEBUG=http2debug=1 ./gorush -ios -m="txt test" -i=certificate.pem --password=123 --topic=com.myapp.test  -t=fakexxxxx528cc12f6a6082fasd9d2efasd0dc0eetd57d280f00ecfac004f02cxxx -production
`

i can catch the error. In our case the certificate was wrong... "BadCertificateEnvironment"

I hope you find it useful

[2017-04-12 02:58] appleboy commented on #211
https://github.com/appleboy/gorush/issues/109#issuecomment-292858157 get error message from fail push notification in API response.

[2017-04-12 09:17] tcolepc commented on #169
Testing gorush v1.8.1, we receive the notification, including the "notification field", although  json notification was empty or nonexistent
`"notification": { }`

We need that field not to arrive, so I can wake up the app.

[2017-04-13 08:12] appleboy opened #214 "Remove drone sig file"

[2017-04-13 08:24] #214 closed

[2017-04-25 21:33] gkuhlmann14 commented on #199
Hi,

Thanks for the feedback ended up getting it going. This was an issue on my end with keys/certs as well.

ended up using fastlane's pem functionality to generate the p12/pem/key and works great. Would recommend generating your apns certs with that functionality because the files plug in seamlessly with gorush

[2017-04-25 21:33] #199 closed

[2017-04-29 03:00] mikepc opened #217 "How do I increment the badge count automatically?"
I would really love to just increment the current badge count on each notification, without tracking the badge count server side. Is this possible?

[2017-04-29 04:12] appleboy commented on #217
NO. I think it is impossible for iOS and Android.

https://www.b4x.com/android/forum/threads/push-notifications-auto-increment-badge-number.64444/

[2017-05-04 02:46] appleboy opened #218 "Upgrade drone to 0.6 version."

[2017-05-04 03:09] #218 closed

[2017-05-07 07:24] appleboy opened #220 "Support group build for Drone CI service."

[2017-05-11 15:29] appleboy opened #221 "Panic when send iOS notification form CLI."
log:

[code]

[2017-05-12 03:17] #221 closed

[2017-05-12 03:39] #220 closed

[2017-05-13 16:28] appleboy opened #225 "Support docker multi-stage build image."

[2017-05-15 15:29] #225 closed

[2017-05-31 04:42] yuanlida opened #230 "Will this project support Firebase?"
Google has promoted FCM to the first choice of android.

[2017-05-31 04:49] appleboy commented on #230
I will take this.

[2017-05-31 05:40] yuanlida commented on #230
Thank you very much.

[2017-06-01 03:56] #230 closed

[2017-06-01 03:56] #217 closed

[2017-06-01 13:19] appleboy commented on #230
@yuanlida Please download `v1.9.0` version. see https://github.com/appleboy/gorush/releases/tag/v1.9.0

[2017-06-10 01:42] MoonshineSG opened #238 "leveldb logs"
the LOG file for the leveldb grows very very fast... is there a way to trim it or keep it under a limited size ?

[2017-06-10 01:58] appleboy commented on #238
@MoonshineSG maybe we should implement the Cron job for file rotation

[2017-06-10 01:59] MoonshineSG commented on #238
sorry, not really familiar with how levedb works... the LOG file is simple a logfile which can be manually removed (and then it would be created again, empty) ?
if thats the case, cron would be the easy solution...

[2017-06-10 02:05] appleboy commented on #238
Yes.

[2017-06-10 02:07] MoonshineSG commented on #238
then, there no need to do anything on your side.. I'll just create a `logrotate` config and set my own rules. Thanks!

[2017-06-10 02:07] #238 closed

[2017-06-22 15:14] hellais opened #239 "Segmentation fault in boltdb"
It seems like my gorush instance fails with a segmentation fault in boltdb related code. It happens right after I trigger a notification to a iOS device.
I suspect it's happening because the permissions to access the `bolt.db` database file are not correct. When I change the permissions back I am able to send notifications correctly.

Here is the stacktrace of the error:

[code]

[2017-07-06 09:25] vocolboy opened #246 "Question: api/push support assign different environment ?"
As title , TestFlight needs support on both sides .

If can support it , it will be very useful
[code]

[2017-07-09 06:35] kidcosmic opened #247 "Add .p8 support for APNS?"
Apple has new .p8 certificate. One cert for all applications. Can we get support for this?

[2017-07-10 09:53] appleboy commented on #247
@zaiddag Could you use token-based authentication as an alternative to using provider certificates to connect to APNs or something else?

How do you create certificate with extension `.p8`?

[2017-07-11 05:33] zaiddag commented on #247
@appleboy Yes. Yes you can. You can make them in Apple's developer console. It uses JWT.

Here's our fork of Apns2 that uses p8 for Apple auth.
https://github.com/unmute/apns2

It looks like Apns2 had the feature ~ 8 months ago but did not release it. It's sitting on the feature-auth-token branch here:
https://github.com/sideshow/apns2/tree/feature-auth-token

But, Apns2 is on a block actually:
ht

[2017-07-11 05:38] zaiddag commented on #247
Looks like Go 1.9 will have the Http2 fix

[2017-07-11 05:53] appleboy commented on #247
@zaiddag maybe we should wait @sideshow merge this https://github.com/sideshow/apns2/pull/43 PR.

[2017-07-11 05:56] #212 closed

[2017-07-11 09:58] sideshow commented on #247
@appleboy @zaiddag sideshow/apns2#43
Correct, its still blocked due to support for MAX_CONNECTIONS
I am considering merging this anyway and documenting as a known issue, because for most people this will still work well. Its only those who are flooding the connection when it opens that will have an issue

[2017-07-14 12:20] sabrinatseng opened #248 "webpush support ?"

[2017-07-24 06:56] appleboy opened #252 "Support gRPC server for internal."

[2017-07-24 07:06] #252 closed

[2017-07-24 07:57] appleboy opened #254 "User can enable or disable gRPC server"
default as disable.

[2017-07-24 10:58] #254 closed

[2017-07-25 06:13] thanhngvpt opened #257 "How to send notification to a webapp?"
Hi all.
I want to send notification to a webapp not mobile. Can i use gorush?
Many thanks.

[2017-07-25 06:37] appleboy commented on #257
@thanhngvpt I think your app needs to support [andriod client](https://firebase.google.com/docs/cloud-messaging/android/client) or [iOS client](https://www.appcoda.com/push-notification-ios/) before using gorush。

Please read the above links. Thanks.

[2017-07-25 06:40] thanhngvpt commented on #257
Thanks @appleboy But now My web app have an notification like a mail box, I don't know which fit me, Can you suggest me?

[2017-07-25 06:43] appleboy commented on #257
@thanhngvpt Are you an android or ios developer? Maybe you can send the above link to Android or iso developer. I think they understand what the link meant.

[2017-07-25 08:45] appleboy commented on #257
We don't support web App.

[2017-07-25 08:45] #257 closed

[2017-07-27 03:10] appleboy opened #261 "User can disable default HTTPD server."
User can only enable gRPC server.

[2017-07-27 03:19] #261 closed

[2017-08-05 10:55] tigercallme opened #265 "Support send to FCM topic message?"

[2017-08-05 15:42] appleboy commented on #265
Hi, you mean that https://firebase.google.com/docs/cloud-messaging/send-message#send_messages_to_topics ? right?

[2017-08-05 16:38] tigercallme commented on #265
Yeah, it`s this.

[2017-08-08 05:24] tigercallme opened #267 "Support compatible send to GCM?"

[2017-08-08 05:54] appleboy commented on #267
Can I ask why you need to send the notification to GCM server, not FCM? I think you don't need to change anything about your code base.

[2017-08-08 07:50] tigercallme commented on #267
Our App has some legacy versions that do not support FCM SDK. They are only embedded in GCM SDK.
So, I need two ways to send it.
Do you have any good suggestions?

[2017-08-08 08:40] appleboy commented on #267
@tigercallme I think you should try the user token get from GCM SDK and post json to gorush server. I think it is work or what is your scenario?

[2017-08-08 08:48] tigercallme commented on #267
Thank you for your advice, let me have a try it.
My original plan is: the old version without FCM SDK of App was sent using GCM push, and later version of App uses FCM (the Android client needs to do migration and preparation)

[2017-08-08 23:01] appleboy commented on #267
Please help to try it out. it is working for my test app uses GCM SDK.

[2017-08-12 15:43] tigercallme opened #269 "About error message from fail push notification in API response."
hey, I try run release binary **gorush-v1.9.0-darwin-amd64**, a problem has occurred:

I set config.yml  [sync: true].
request: /api/push
response:  {"counts":1,"logs":[],"success":"ok"}

but, server error log :

What surprised me was that error logs from sending fail notifications did not return.

[2017-08-13 02:43] appleboy commented on #269
I will take it.

[2017-08-15 08:54] appleboy commented on #269
[code]

The error log message from FCM server, not error log of notification so the field `logs` of JSON is `empty`. Please make sure you have set the correct API key.

[2017-08-17 09:32] tigercallme commented on #269
I'm sure API key is right.
This error is due to an Internet address that is not accessible.
Er...  you know, in China access to this URL must pass through the GFW.

[2017-08-23 04:35] zhaohansprt commented on #99
what now?

[2017-08-31 14:03] joeblew99 opened #281 "WNS (Windows Notification Service)"
WNS is pretty much the same as the IOS and android ones.
However its designed for Windows Desktop and Mobiles.

I am curious is this is something the community wants ? Or is too early to tell because everyone is waiting to see if MS fails...?

[2017-09-11 06:28] appleboy opened #282 "Update boltdb to bbolt"
See https://github.com/boltdb/bolt#a-message-from-the-author

[2017-09-13 10:57] jcampbell05 commented on #141
Does this allow us to guarantee delivery ?

[2017-09-13 12:16] joeblew99 commented on #281
here is a golang implementation for Windows Desktop notifications. It has zero dependencies and an easy API.

If you decide to look at Desktop integration this looks very good.

[2017-09-13 13:24] appleboy commented on #281
@joeblew99 Where?

[2017-09-19 11:11] joeblew99 commented on #281
https://github.com/variadico/noti

[2017-09-21 05:53] lbeeon commented on #99
Hi @appleboy , I really interest this feature. Is there any plan I can help?

[2017-09-22 14:12] appleboy opened #285 "Support health check for kubernets"

[2017-09-26 03:10] #285 closed

[2017-10-23 03:06] #180 closed

[2017-10-23 04:32] appleboy commented on #180
@mikepc gorush support environment configuration now.

[code]

Please pull the latest tag from docker hub.

[2017-10-24 01:32] #282 closed

[2017-10-24 01:32] appleboy commented on #267
@tigercallme any update on that?

[2017-10-24 08:26] appleboy commented on #265
@tigercallme Implementation in https://github.com/appleboy/gorush/pull/296/

[2017-10-24 09:00] #265 closed

[2017-10-24 15:24] appleboy commented on #247
I will implement this feature this week.

[2017-10-24 15:26] appleboy commented on #239
@hellais Do you have the same problem on this?

[2017-10-25 01:03] appleboy opened #298 "Support Device Group HTTP POST Request"
See: https://firebase.google.com/docs/cloud-messaging/send-message#send_messages_to_device_groups

[2017-10-25 02:37] #298 closed

[2017-10-25 08:32] appleboy commented on #247
@kidcosmic Implementation in https://github.com/appleboy/gorush/pull/300

changes from `config.yml`

[code]

update `key_path` as your `.p8` file and add `Key ID` and `Team ID` [from Apple](http://help.apple.com/xcode/mac/current/#/dev54d690a66)。

[2017-10-25 08:49] #247 closed

[2017-10-25 14:51] appleboy commented on #246
implementation in #301

[code]

the default setting in your `config.yml`.

[2017-10-25 14:51] #246 closed

[2017-11-12 06:27] appleboy opened #303 "Add Grpc healthcheck"

[2017-11-12 14:44] #303 closed

[2017-11-13 02:03] appleboy opened #305 "Add grpc health check example."

[2017-11-14 06:18] #305 closed

[2017-11-15 14:19] oadk opened #307 "Feature request: populate CollapseID field in apns2 Notification struct"
Hi,

Thank you for making gorush!

I have a small request: the apns2 library supports the CollapseID field for notifications. See [here:](https://github.com/sideshow/apns2/blob/f06de67a6ba682db5b5947925c0d2e747108e7fb/notification.go)

[code]

Currently in gorush, the `CollapseKey` is only passed on to Android. Please could we use this value when creating the `apns2.Notification` struct in `GetIOS

[2017-11-15 15:55] appleboy commented on #307
I will take it.

[2017-11-15 16:09] appleboy commented on #307
Implementation in #308

[2017-11-15 16:12] #307 closed

[2017-11-15 16:23] oadk commented on #307
Thank you for making the change, and thank you for doing it so quickly :)

[2017-12-07 16:06] AmarOk1412 opened #311 "Automatically determine platform?"
I don't know if it's possible, but something would be great`is to have:

[code]

instead of:

[code]

[2017-12-07 22:14] AmarOk1412 opened #312 "Static release instead of dynamic binaries?"
For gorush-1.10.0-linux-amd64, we can found a dynamic binaries in https://github.com/appleboy/gorush/releases

So we must relink the binary with musl manually (see `ldd gorush`)

[2017-12-07 22:57] johnjjung commented on #102
Agreed! in k8s deployments if we can use secrets instead of config maps so that you can load a base64 image of the APN key files, I think would be much better. Otherwise you have to build the docker image with the key file inside and push that to the repo which is terrible practice.

Other way would be to have a deployment script when after the docker file loads to pull it securely from a remote l

[2017-12-08 02:54] appleboy commented on #102
@johnjjung Good catch. something like [Use-Case: Pod with ssh keys](https://kubernetes.io/docs/concepts/configuration/secret/#use-case-pod-with-ssh-keys). Rigth?

[2017-12-08 03:30] johnjjung commented on #102
Yes, I think there's a very simple way of doing this without you having to modify anything.

I'm just overriding it with a custom command either in docker-compose or kubernetes file to execute a custom deploy.sh script. Add `CMD deploy.sh` and in your deploy.sh

Basically turn your key files or sensitive credentials into base64 ENV's. In your deploy.sh just do something like:

[code]
Then you can

[2017-12-08 03:51] appleboy commented on #102
@johnjjung Waiting for your PR. Thanks. 👍

[2017-12-08 18:29] johnjjung commented on #102
@appleboy

[code]

I keep getting this error, I see you're using `plugins/base:multiarch` docker image, I'm not familiar with it, can you point me in the right direction in debugging this?

I can't seem to do even simple `printenv` in the docker container.

[2017-12-08 18:38] johnjjung commented on #102
I just changed the Dockerfile to `alpine:latest` for now, I'll circle back to this

[2017-12-08 18:58] johnjjung commented on #102
Hm... this is proving to be not as straightforward as many things in life...

[code]

So apparently after I dynamically create a `cert.p12` from a base64 env it's having trouble reading it

[2017-12-08 19:38] johnjjung commented on #102
ok got it working now, gotta convert the cert.p12 to a pem file.

[2017-12-09 09:56] appleboy commented on #311
I think it is not possible unless we can define what is different between Apns and android token.

[2017-12-09 13:09] appleboy commented on #312
See https://github.com/appleboy/gorush/blob/master/Makefile#L167 and https://github.com/appleboy/gorush/blob/master/Makefile#L23

[2017-12-09 15:52] AmarOk1412 commented on #311
Yeah that's what I think too. And I'm not sure about the difference of the 2 formats.

[2017-12-09 15:52] #311 closed

[2017-12-09 15:53] AmarOk1412 commented on #312
Yeah yeah I just talk about binaries in the release page. Sure we can rebuild a static bin.

[2017-12-18 17:36] e8kor commented on #267
I have same issues related to GCM or FCM, having just GCM server key seems to be not enough to send FCM message, I'm receiving 401: Unauthorized error.

[2017-12-20 07:04] xnathanh opened #318 "certificate file does not exist"
get this error when try to run on docker
seems like didnt use my own config.yml

[code]

[2017-12-20 07:05] appleboy commented on #318
Where is your certificate file?

[2017-12-20 07:12] xnathanh commented on #318
[root@localhost apns]# ls
aps_development.cer  CertificateName.p12  cert.pem  key.pem
[root@localhost apns]# pwd
/Volumes/api/apns
[root@localhost apns]#

[2017-12-20 07:13] xnathanh commented on #318
same...
[code]

[2017-12-20 08:07] appleboy commented on #318
[code]

Try it.

[2017-12-20 08:09] xnathanh commented on #318
then i got error:

time="2017/12/20 - 08:08:21" level=error msg="Cert Error:failed to parse PKCS1 private key"

[2017-12-20 08:27] appleboy commented on #318
This is not the gorush problem. Please see the document as below.

https://medium.com/@ankushaggarwal/generate-apns-certificate-for-ios-push-notifications-85e4a917d522

[2017-12-20 08:27] #318 closed

[2017-12-20 08:31] xnathanh commented on #318
thanks,got you ,gorush allow to use .p12,that's cool,is working now.

[2017-12-20 08:56] appleboy commented on #318
@xnathanh Gorush also supported `.p8` format.

[2017-12-20 21:46] xnathanh opened #319 "not able to use docker exec shell"
[code]

[2017-12-23 11:25] appleboy commented on #319
Try the `alpine`tag of image.

[code]

[2017-12-27 13:10] #319 closed

[2018-01-02 10:47] xnathanh opened #322 "rpc server runtime error"
thank you can support "badge category" but seems like something goes wrong,
i got error when i try to use grpc on nodejs to call gorush

[code]
error message on docker logs:
[code]

[2018-01-02 11:01] xnathanh opened #323 "no body receive on ios if use "alert""
[code]

ios logs:
[code]

[2018-01-02 14:35] appleboy commented on #322
@xnathanh I will take it.

[2018-01-03 09:08] #322 closed

[2018-01-03 09:09] appleboy commented on #323
fixed by #324 Can you help to try it out? thanks.

[2018-01-03 17:27] xnathanh commented on #323
here is the way:
[code]
thanks

[2018-01-04 02:14] appleboy commented on #323
so we closed issue.

[2018-01-04 02:14] #323 closed

[2018-01-09 20:08] pminnebach commented on #281
@joeblew99 As far as i can see noti only creates a toast by hacking around with powershell and doesn't really use/implement WNS.

[2018-01-10 01:43] appleboy commented on #281
@joeblew99 @pminnebach Already implement in https://github.com/appleboy/gorush/pull/310

[2018-01-10 17:55] xnathanh opened #329 "[grpc] custom key on the payload does not work"
custom key and value on the payload does not work

and how to use "mutable-content"?

[code]

[code]
ios side not receive "APIKey"
[code]

[2018-01-11 04:22] xnathanh commented on #329
@appleboy

[2018-01-11 16:37] meticoeus commented on #267
In the same Google Cloud project (same Sender ID), enable FCM. You may need to leave GCM enabled as well (I have left GCM on). Sending notifications to existing app installs appears to work with no further changes needed. I am using the same API Key and sending to the same tokens.

[2018-01-11 16:53] e8kor commented on #267
@meticoeus thanks for tip

[2018-01-11 23:51] gardenia opened #330 "Persistence of pending notifications?"
Hi,

Am I correct in understanding that there is no persistence of the pending notifications  e.g. if gorush were to be restarted any pending push notifications would be lost?

If so do you have any plans to support queueing in something like rabbitmq or redis (or even a relational DB)?

In my opinion this would be a good feature for robustness but I'd be interested to hear your opinion.

Thanks.

[2018-01-16 03:27] appleboy commented on #329
@xnathanh Try:

[code]

[2018-01-16 08:36] xnathanh commented on #329
@appleboy
Mutablecontent is working but still can not get custom "key"
request.setKey({"abc":"123","bcd":"234","sdf":54,"toy":true});

[2018-01-16 09:02] appleboy commented on #329
`setKey` is for set Android API key, not ios custom data. I will take it.

[2018-01-16 19:46] xnathanh commented on #330
I personally think that no necessary, the queue should be in the logic of the program needs,
gorush should be a pure push service,Unless the author wants gorush to be a push platform

[2018-01-23 08:20] appleboy opened #333 "Support AWS Lambda"
See https://aws.amazon.com/blogs/compute/announcing-go-support-for-aws-lambda/

[2018-01-23 08:34] #333 closed

[2018-01-31 09:48] renatocron commented on #330
Is that not what "Support store app stat to memory, Redis, BoltDB, BuntDB or LevelDB" means?

If not, what is being saved on that stores so?

[2018-02-06 15:49] appleboy opened #335 "Support load ios key file from base64 encode."
Load iOS key from kubenetes secrets.

https://kubernetes.io/docs/concepts/configuration/secret/

Encode:

[code]

decode:

[code]

ref: https://github.com/appleboy/gorush/pull/316

[2018-02-18 09:13] appleboy commented on #335
closed via #336

[2018-02-18 09:13] #335 closed

[2018-02-18 09:49] appleboy opened #338 "Support Windows container"
Continuous Integration solution for Windows

https://www.appveyor.com/

[2018-02-18 10:38] niveuseverto commented on #99
Any schedule/plans on this feature?

[2018-02-18 15:46] #338 closed

[2018-02-20 18:42] AmarOk1412 opened #340 "Mqtt support?"
Is the support of sending [mqtt](http://mqtt.org/) messages is planned?

Do you think is a good idea?

[2018-02-24 14:57] appleboy commented on #340
@AmarOk1412 No, just support mobile notification or web push notification.

[2018-02-24 14:57] #340 closed

[2018-03-02 15:29] jaisontj opened #341 "Error sending push notification to iOS device"
# Request:

`POST /api/push`

[code]

# Response:

[code]

[2018-03-02 15:30] jaisontj commented on #341
I dont know what the "topic" here is supposed to be. Is this a bug or something that I am missing ?

[2018-03-02 18:47] froodian commented on #341
it's supposed to be your app's bundle id.

[2018-03-03 05:37] jaisontj commented on #341
Hmm, then this appears to be a problem with my certificates yes ? Unless I am supposed to specify my ios app's bundle id somewhere in the gorush config.

[2018-03-05 06:03] jaisontj opened #342 "Option to specify topic for APNS"
When using certificates which support multiple topics, it is mandatory to specify the `apns-topic` as a header in the request. Could you have an option to do this ?

[2018-03-05 06:59] jaisontj commented on #342
I see that this has been done [here](https://github.com/appleboy/gorush/issues/67)

Could you add this in the docs as well ?

[2018-03-09 08:50] parangdae opened #343 "What is lambda main handler?"
Upload the deployment.zip via web UI and function-name gorush.
handler name : server_lambda, main, gorush, server are failed

Execution result: failed
{
  "errorMessage": "fork/exec /var/task/server_lambda: no such file or directory",
  "errorType": "PathError"
}

[2018-03-09 09:02] parangdae commented on #343
I found handler.
`release/linux/lambda/gorush`

[2018-03-09 09:02] #343 closed

[2018-03-10 07:10] appleboy commented on #342
I already updated the docs before you create this issue.

[2018-03-10 08:00] jaisontj commented on #342
Oh, could you tell me where this is specified ? I have fixed the issue by re-creating my certificates and ensure that it only supports a single topic.

Is it the topic specified in [this](https://github.com/appleboy/gorush#request-body) table ?

[2018-03-10 14:20] appleboy commented on #341
Can you help to try the following request?

[code]

[2018-03-10 14:21] appleboy commented on #341
See the reference: https://developer.apple.com/library/content/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/CommunicatingwithAPNs.html

[2018-03-17 13:40] appleboy opened #344 "Add HEALTHCHECK handler"
See https://docs.docker.com/engine/reference/builder/#healthcheck

[2018-03-17 14:43] TianDaGe opened #345 "Always response count is 0 in latest verison"
Hi, @appleboy
I am trying to use latest version. but it is not working fine as like older version.

[code]
Response is always like this.
[code]

I set already "sync" by "true" in config.yml.
I checked latest version(Mac&Windows version) with latest config.yml style. but as you can see it is not working correctly,
My test older version(1.7.4) is working fine.
What is the issue?

[2018-03-17 15:06] appleboy commented on #345
I will take it.

[2018-03-17 15:07] #344 closed

[2018-03-22 08:51] TianDaGe commented on #345
is there any update?

[2018-03-22 09:40] appleboy commented on #345
It is working for me with the latest version.

![snip20180322_2](https://user-images.githubusercontent.com/21979/37762676-01c4ffc0-2df8-11e8-9fda-fcc0776e2210.png)
![snip20180322_4](https://user-images.githubusercontent.com/21979/37762677-01eeecea-2df8-11e8-8655-08599dbf4ff3.png)

iOS config is not enabled by default. Please update your config.

[2018-03-22 09:50] TianDaGe commented on #345
can you share your current config?

[2018-03-22 12:39] appleboy commented on #345
[code]

json body:

[code]

[2018-03-23 05:28] appleboy commented on #345
Do you enable the iOS setting as belown?

[code]

[2018-03-23 10:12] ibmboy19 opened #347 "Running in AWS Lambda push error"
Hi appleboy,

I use the same config and execute command line mode in windows everything is fine,
other than Lambda.

CloudWatch log:

Config:

  enabled: true # enabale httpd server
  address: "" # ip address to bind (default: any)
  port: "8088" # ignore this port number if auto_tls is enabled (listen 443).
  worker_num: 0 # default worker number is runtime.NumCPU()
  queue_num: 0 # default queue

[2018-03-23 10:17] TianDaGe commented on #345
Oops! I didn't set that parameter by true. Solved!

[2018-03-23 10:17] #345 closed

[2018-04-03 08:04] #347 closed

[2018-04-10 21:48] kartlee opened #348 "Error logs for grpc push notification"
Hi,

Thanks for your effort in creating this library to handle push notification. I just started using it in one of my go project. The setup is clean to hook into the project.

I am trying to use grpc to send push notification for clients. The  number of tokens to handle will be huge and based on the error response, I need a followup action to do with each token. Right now the logs are available o

[2018-04-10 21:58] kartlee commented on #348
https://github.com/appleboy/gorush/blob/master/rpc/server.go#L87 - You might want to fix the success state based on this case.

[2018-04-10 22:03] kartlee opened #349 "Support fcm for ios push notification"
Right now I see apns is being used. Would it be possible to use fcm like android?

-Karthik

[2018-04-11 01:52] appleboy commented on #348
for your first question:

https://stackoverflow.com/questions/39375200/fcm-message-to-multiple-registration-ids-limit

[2018-04-11 02:15] appleboy commented on #348
I updated the response of GRPC message.

[2018-04-11 15:06] kartlee commented on #348
Great, thanks. I look forward for the change related to error logs in grpc message.

-Karthik

[2018-04-12 03:20] kartlee opened #351 "Log the actual device token in the error log"
The error log response for IOS  doesn't show the actual device token sent. This seem to be a shorter key which the apns response has sent. Would it be possible to add a field with the actual token so it helps to map it with the db we maintain and clean it?

For example - the device token sent is '2d6a77975d96a220bbdb4cb1460f735251b729322e49'.  error response show the following -

[code]

[2018-04-12 03:24] kartlee commented on #351
I see it as a configuration to hide the token which was set to true by default. Sorry for the false alarm.

[2018-04-12 03:24] #351 closed

[2018-04-12 03:29] appleboy commented on #351
See

https://github.com/appleboy/gorush/blob/069efa9e5ee493246b01386c19c8577893c6dbbb/config/config.yml#L60

[2018-04-15 07:52] appleboy opened #352 "Support badger key-value (KV) database"
See https://github.com/dgraph-io/badger

[2018-04-16 09:26] #352 closed

[2018-04-16 14:21] kartlee commented on #348
Just wanted to check if this is possible to support soon based on which I need to decide if I should go for grpc or http in our production code.

[2018-04-17 02:13] appleboy commented on #348
I will update the enhancement this week.

[2018-05-14 06:49] legion-zver opened #355 "Wtf!!??"
Why can't I transfer field "data" through GRPC??!!!

[2018-05-23 15:38] kartlee commented on #348
Any update?

[2018-05-30 15:31] kartlee commented on #349
Is there any reason why fcm is not used for ios?

[2018-05-30 15:33] kartlee commented on #348
Any update?

[2018-06-03 11:12] georgehoho opened #357 "Cert Error:no certificate"
i edit my config.yml as sample:
 cert_path: "/Users/dangyy/cert.pem"
 key_path: "/Users/dangyy/key.pem"

then run ./gorush -c config.yml ,it`s alway show error :no certificate

MacBook-Pro:~ dangyy$ ls *pem
apns-dev-cert.pem	cert.pem
apns-dev-key.pem	key.pem
MacBook-Pro:~ dangyy$ pwd
/Users/dangyy

please help me ,thank you

[2018-06-04 09:38] sthkindacrazy opened #358 "configuration problem when using aws lambda"
after customizing config file, `confing/config.yml` , followed below lines to make binary file.

[code]

However, when checking configurations by calling `api/config` via aws gateway, config file shows default values rather than showing customized values.

[2018-06-05 07:20] sthkindacrazy commented on #358
@appleboy  why does make file always refer to the default configuration settings?

[2018-06-05 07:50] appleboy commented on #358
See the default config: https://github.com/appleboy/gorush/blob/251429530d2b43a6c043845957779ccd5a97622c/config/config.go#L13-L88

[2018-06-05 07:52] sthkindacrazy commented on #358
@appleboy well, I've overrided this `config.go` with my configurations, but it shows same result.

[2018-06-08 05:15] sthkindacrazy commented on #358
resolved issue

[2018-06-08 05:15] #358 closed

[2018-06-28 12:07] sh0umik opened #361 "Android FCM `Invalid Server Key`"
I have a working FCM Client that is using Firebase Messaging Server as a Backend . I can send push notification form the Firebase Console.

However i tried sending a notification ( topic subscription ) via gorush cli , I am getting `| failed-push | android [*****] | This is a Firebase Cloud Messaging Topic Message | Error Message: invalid registration token` . I am using the Server Key from Fireba

[2018-07-23 16:08] hellais commented on #239
@appleboy yes this issue is still occurring and actually it also happens in leveldb.

See:
[code]

[2018-07-24 20:59] mechpen commented on #199
@gkuhlmann14 could you explain more what's the problem with keys/certs?  I have the same error in my applications.

[2018-07-26 07:34] appleboy commented on #239
@hellais So you can change the levelDB permission to fix this problem?

[2018-07-26 11:18] hellais commented on #239
@appleboy I actually ended up just dropping the disk based storage backend and just relying on `memory` based storage.

I think that the right fix for this would probably be to check when gorush starts if everything is ok with the storage backends, so that at least some exception is thrown on boot rather than at runtime.

[2018-07-26 11:58] appleboy commented on #239
@hellais I will check the file permission before start the daemon.

[2018-07-26 14:41] hellais commented on #239
That seems like a good idea. Even better if you try to do some operation similar to the one that is done when a push notification is done (maybe write a value and remove it) to check that it actually works as expected.

[2018-07-28 17:08] metrue opened #363 "get 'succeed-push' but no message recieved"
I tried `gorush` with its cli binary:
[code]
it return `INFO[2018/07/29 - 01:03:44] | succeeded-push | ios [**********a3a943c4324b5bc246c2ec95b67b24a9f7ced3fd2e9b**********] abcd`

but I had not received any message on my iPhone, anyone can help?

[2018-08-11 05:15] appleboy commented on #363
@metrue Could you have to try `--production` flag for production mode?

[2018-08-14 09:00] metrue commented on #363
somehow it's ok now.

[2018-08-14 09:00] #363 closed

[2018-08-14 15:42] edpelesh commented on #349
You can use it. All you need is FCM token of the iOS installation.
You need to send it as Android platform though.

[2018-08-14 17:11] #349 closed

[2018-08-22 03:55] MarcusMann commented on #319
Gratz @appleboy

[2018-08-22 12:48] gardenia opened #365 "support sending to multiple different certs"
Hi,

At the moment it appears I can configure exactly one Android API key and one IOS push certificate.

I would like the capability to somehow disptach to different Android API keys and IOS push certificates, perhaps based on an app bundle id. I realize I could run N instances of gorush to accomplish that but it seems more ideal to be be able to do it all from the same process.

What do you think

[2018-08-22 13:06] appleboy commented on #365
Gorush doesn't support multiple certificates in iOS but support send notification in the different android key.

In android, you can add `api_key` in the request body. See https://github.com/appleboy/gorush#request-body

[2018-08-22 13:46] appleboy commented on #342
Please reopen the issue if you still have this problem.

[2018-08-22 13:46] #342 closed

[2018-08-22 13:47] appleboy commented on #341
Please reopen the issue if you still have this problem.

[2018-08-22 13:47] #341 closed

[2018-08-22 13:48] appleboy commented on #248
See the PR. #310

[2018-08-22 13:53] appleboy commented on #361
See the following screenshot.

![gorush_ _settings_ _firebase_console](https://user-images.githubusercontent.com/21979/44467544-b42bcb00-a655-11e8-84f0-423dd1b1a9db.png)

[2018-08-22 13:53] #361 closed

[2018-08-27 01:00] appleboy opened #366 "iOS 12 Critical Alerts"
https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/generating_a_remote_notification#2990112

See the PR: https://github.com/sideshow/apns2/pull/113

[2018-08-28 03:02] #366 closed

[2018-09-07 04:05] ahmedakmal525 opened #369 "Help"
Hi, I developed an android application.. where I have to send push notifications to my users real time. but I have one doubt. If I use the **gorush** with **Firebase / GCM API Key** and the respective generated tokens of the devices, do i get charged for using their API key?, If the push notifications exceed the allowed limit?

[2018-09-17 12:43] yacir commented on #125
@appleboy any updates for this feature?

[2018-09-19 13:34] johan-lejdung commented on #307
is this translated to `apns-collapse-id`? Maybe the documentation should be updated as well

[2018-09-19 13:36] johan-lejdung opened #373 "Support for apns-collapse-id?"
Is there any support for sending the apns-collapse-id on a push notification?

https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/sending_notification_requests_to_apns

[2018-09-19 13:46] johan-lejdung commented on #373
@appleboy Could this be implemented?

[2018-09-19 14:03] johan-lejdung commented on #373
I updated to the newest version and that made it work. Although the documentation should be updated to reflect this.

[2018-09-19 14:16] appleboy commented on #307
Where need to be updated in the documentation?

https://github.com/sideshow/apns2/blob/c6554aff77e6e5580dec977c8c33cc238f329ab0/client.go#L202-L204

[2018-09-19 14:18] appleboy commented on #373
@johan-lejdung Can you send the PR?

[2018-09-19 19:01] johan-lejdung commented on #307
For the Gorush project, there is no mention of the collapse_id in the README

[2018-09-19 22:56] appleboy commented on #373
I will update the document.

[2018-09-20 05:34] johan-lejdung commented on #373
Thanks!
On Thu, 20 Sep 2018 at 00:57, Bo-Yi Wu <notifications@github.com> wrote:

[2018-10-03 20:07] jpeterson88 commented on #329
Was this ever fixed? @appleboy

[2018-10-10 03:19] ghost opened #374 "Concern Regarding Code Quality of Badger"
My Posts will be deleted on badger repository. So posting it here, since you guys use badger.

Badger team did changes on May 9th to introduce move keys.
https://github.com/dgraph-io/badger/commit/7af00762e98cf59c2ca6a774b49487b8903257c6

There were many bugs, issues related to same thing which were fixed over months. The last fix was done a week back. The issues ranged from badger being stuck in

[2018-10-13 14:55] gardenia opened #375 "Question re: connection reuse"
Hi,

Juat a question.  If I am using the REST interface to queue notifications is it reasonable to expect that gorush will reuse connections to the upstream push provider effectively?

For example, if I call the rest interface to queue 100 (sync = false) ios pushes in a period of (say) 1 minute then is it reasonble to assume that this will result in only one (or a small numbe of) reused connection

[2018-10-15 01:40] appleboy opened #376 "Uses the Go Modules support built into Go 1.11"
as title.

[2018-10-15 03:49] #376 closed

[2018-10-17 03:51] #374 closed

[2018-11-01 05:35] appleboy commented on #330
We need the database to store the notification status or support third-party queuing system service.

[2018-11-14 20:38] phpfs commented on #281
I wrote a small go library for sending notifications to WNS some time ago- maybe this will help :)
https://github.com/phpfs/go-wns

[2018-11-14 20:40] phpfs commented on #330
+1 on this - would be a great feature :)

[2018-11-15 06:21] appleboy opened #380 "[Performance] change protobuf to gogo/protobuf"
see: https://github.com/gogo/protobuf

[2018-11-15 07:42] #380 closed

[2018-11-15 20:30] tosbaha opened #382 "Can't install from the source"
I tried this both with raspberry pi and Ubuntu 18
- I installed the go with apt
- I followed following instructions

[code]
I get following errors both for Raspberry Pi and Ubuntu

[2018-11-15 21:10] tosbaha commented on #382
If I use go 1.11.2 then it works.

[2018-11-15 21:10] #382 closed

[2018-11-16 13:21] tosbaha opened #383 "iOS Sound doesn't work"
I send the following payload but sound is not delivered. I see the notification on device but no sound ever. How can I debug this issue? Btw on iOS sound is a string according to [documentation](https://developer.apple.com/library/archive/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/PayloadKeyReference.html#//apple_ref/doc/uid/TP40008194-CH17-SW1). Why we have to define those

[2018-11-20 02:32] appleboy commented on #383
I will take it.

[2018-11-20 09:01] #383 closed

[2018-11-20 09:02] appleboy commented on #383
@tosbaha Do you have time to help try the latest version? Thanks.

[2018-11-20 10:20] tosbaha commented on #383
Sound works with latest commit. Thanks.

[2018-11-20 10:54] tosbaha commented on #383
gRPC interface still is not working though. I guess it needs update as well.

[2018-11-20 13:10] appleboy commented on #383
@tosbaha Yes. It is not working with gRPC interface. I will take it.

[2018-12-05 09:08] evgeniybaranov opened #386 "Add callback or chan for failed pushes"
Hi,

Add the callback or chan with error and token for the failed push notification(apns and fcm).
For example when you make notification with multiple tokens and some tokens is "BadDeviceToken", I can't handle these requests. PushToIOS or PushToAndroid - return only bool value

[2018-12-21 15:20] andthereitgoes opened #388 "threadid is not being sent in app notification for ios"
Hi @appleboy

I am trying to send `thread-id` based on https://developer.apple.com/library/archive/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/PayloadKeyReference.html

Although there is no documentation for `thread-id`, I looked at `PushNotification` in https://github.com/appleboy/gorush/blob/master/gorush/notification.go

Based on that, here's my `api/push` POST payload tha

[2018-12-21 15:43] andthereitgoes opened #389 "Not sure how to send sound in ios app notification?"
Hi @appleboy
I am trying to send default sound in the app notification for ios and looked at your documentation. The apple documentation expects it to be a string https://developer.apple.com/library/archive/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/PayloadKeyReference.html

In your gorush README it is expected as an `interface{}` but in grpc proto file https://github.com/ap

[2018-12-22 15:43] appleboy commented on #388
@andthereitgoes change `"threadID"` to `"thread-id"`

[2018-12-26 04:03] gavinyangs opened #390 "Can't import "github.com/appleboy/gorush/vendor/google.golang.org/grpc" in Golang project."

[2018-12-28 14:55] andthereitgoes commented on #388
@appleboy Thanks, that worked

[2018-12-28 14:55] #388 closed

[2018-12-28 14:55] andthereitgoes commented on #389
@appleboy any update on this one?

[2019-01-23 10:06] d3sire commented on #390
Yep, having the same issue. Would suggest to remove the vendoring of the grpc related functionality since it is meant to be imported.

[2019-01-29 05:53] belek opened #391 "How to send push to iOS/Android devices using only Firebase API key?"
Can't figure out where should I set Firebase API Key in order to send push notifications to iOS and Android devices using only Firebase? No certificates, they are set in Firebase Console.
config.yml from example in Readme doesn't help.

Here is the request:
[code]
I run gorush in docker. Testing command succeeded:
[code]

[2019-01-29 08:52] belek commented on #391
Well, I figured out whats going on.
If I use Firebase and want to send push notifications on iOS and Android device,  I have to specify platform=android. That is confusing.

[2019-01-29 08:58] appleboy commented on #391
@belek Yes.  `platform=android` for FCM, `platform=ios` for APNS

[2019-01-29 15:20] belek commented on #329
@appleboy so how to send custom key-value arguments in push notification using gRPC?

[2019-01-29 15:25] belek commented on #355
Well, even if issue does not have proper title, the problem exists :)
Is there an option of sending custom key value arguments using gRPC?

[2019-02-04 10:06] #391 closed

[2019-02-11 22:54] chasei commented on #269
Hello. I am using the `github.com/appleboy/go-fcm` package and when I get these errors it seems to be causing a race condition, or causing goroutines to hang resulting in a crash. I am curious if this is still an issue, and if so, what can be done to avoid it? Thanks in advance.

[2019-02-12 01:13] appleboy commented on #269
@tigercallme You can't use any service of Google in GFW. You can put your service in Linode or Do.

[2019-02-12 01:14] appleboy commented on #269
@chasei You got same errors?

[2019-02-13 07:55] chasei commented on #269
Hi, @appleboy , my apologize for not replying sooner. Yes, I did see that in our logs, but the log/box has been rotated out since, and thus I can't provide a sample. Seeing many "connection reset by peer" errors, paired with "dangling pointer" errors, since. I will open an issue in the `go-fcm` repo with some log and code samples.
The issue appears only under high volume of traffic, is intermitten

[2019-02-13 10:21] anhhoang236 commented on #269
same issue when i deploy to aws lambda, any suggestions?

[2019-02-13 11:21] anhhoang236 commented on #347
i got exactly the same issue, how you get rid of it @ibmboy19

[2019-02-16 09:46] HTechHQ commented on #355
I feel the title as well ;-)
But to get to the point, protocol buffers have a map that looks like it can do the job:
[code]
https://developers.google.com/protocol-buffers/docs/proto#maps

If I see this correctly, it would be part of the `NotificationRequest` definition and could just be appended, right?

I might be able to provide this, so let me know. Any other fields, that are missing too?

[2019-02-21 17:47] coip commented on #390
also impacted by this issue.

how are you guys mitigating this?

[2019-02-25 09:03] lengrongfu opened #393 "Does this use have performance issues?"
![image](https://user-images.githubusercontent.com/15009201/53325660-c8ab9180-391e-11e9-998d-ebfde6a723cc.png)

When using badger storage，I noticed that this file will be opened and closed each time it is used. Does this use have performance issues?

[2019-03-01 09:13] dj95 commented on #389
Hi. I've experienced basically the same issue that you described. The problem is in the code, as the sound-implementation does not hand the string as sound over to apple. If a sound is specified via its name(with the 'name'-key https://github.com/appleboy/gorush/blob/master/gorush/notification.go#L91) the sound struct is created, too. As apple only uses the sound dict in the request for critical n

[2019-03-01 23:29] appleboy commented on #389
@dj95 Thanks for your PR. I will take it and merge as soon as possible.

[2019-03-03 07:46] mesibo opened #395 "RHEL issue - bad ELF interpreter"
Installation on RHEL results in message /lib/ld-musl-x86_64.so.1: bad ELF interpreter: No such file or directory

    $ ./gorush
    bash: ./gorush: /lib/ld-musl-x86_64.so.1: bad ELF interpreter: No such file or directory

    $ cat /etc/redhat-release
    CentOS Linux release 7.4.1708 (Core)

Let me know if you need more information.

[2019-03-03 10:39] dj95 commented on #395
If you check the linked dependencies for the binary with `ldd gorush`, you will see, that the libc-musl dependency is missing on your system.

One solution is, to install libc-musl on your system.

The other solution is to build the binary on a non libc-musl system, as the go compiler then links the non-musl libc into it.

[2019-03-04 12:19] #395 closed

[2019-03-06 07:37] iDiyor opened #396 "FCM: "to" is an optional parameter"
"to" is an optional parameter according to [FCM documentation](https://firebase.google.com/docs/cloud-messaging/http-server-ref) but [on line 128](https://github.com/appleboy/gorush/blob/375eec1d9062e5a28123fc92afd7c2561a91b0f1/gorush/notification.go#L128) in the file it is required by the condition. If I set it to an empty string, an error message of "the message must specify at least one registr

[2019-03-13 16:02] appleboy commented on #389
Closed. #394 already merged

[2019-03-13 16:02] #389 closed

[2019-03-13 16:06] appleboy opened #397 "Migrate to Drone Cloud 1.0 version"

[2019-03-13 16:07] TarekAS opened #398 "Env Variables list"
Can't find a list of environment variables we could use. For example, where is GORUSH_STAT_ENGINE defined?
Could use better docs. We need this to pass env variables to K8s pods.

[2019-03-13 16:39] appleboy commented on #398
See the yaml file:

[code]

`GORUSH_` as a prefix key. `GORUSH_CORE_ADDRESS` is p address to bind (default: any). I will update in README.

[2019-03-15 13:09] ahmet commented on #390
Stuck at same point.

[2019-03-16 03:37] #397 closed

[2019-03-19 12:52] zhanswift opened #402 "I can't install or gun"
I got error when try to install

[2019-03-27 08:04] #396 closed

[2019-04-02 20:39] pennersr commented on #386
There is a sync mode available that should allow for getting error feedback, see: https://github.com/appleboy/gorush/issues/109. Though, I do not fully comprehend the design choice of having to switch to synchronous mode in order to be able to obtain feedback. A few points:

- Receiving and processing error feedback is not really optional. Purging outdated tokens is a requirement for a production

[2019-04-04 02:58] appleboy commented on #248
I will implement this feature using https://github.com/SherClockHolmes/webpush-go

[2019-04-10 21:42] rickschubert opened #405 "Instructions unclear: how to run in AWS lambda"
First off, thank you very much for building this amazing tool.

I am writing as I am having troubles running this tool in AWS lambda. I built the tool as suggested in the readme and pushed it to lambda. I also figured out through another issue (#343 ) that the main handler is `release/linux/lambda/gorush`.

But how do I know actually call it? I tried many different inputs (CLI format, API format)

[2019-04-13 14:39] #402 closed

[2019-04-25 13:27] appleboy commented on #405
Please post your CLI command or any tool you send the notification to the gorush server.

[2019-04-25 13:30] appleboy commented on #386
Maybe I can add the feature to support webhook that receive the notification log if fail.

[2019-04-27 15:37] appleboy opened #407 "remove the facebookgo/grace package"
Remove the deprecated of `facebookgo/grace` package.

[2019-04-29 03:33] #407 closed

[2019-05-01 15:26] keyeMyria commented on #365
@appleboy @gardenia  APNS is using Universal Push Notification Client SSL, so just on cert is ok. This issue can be closed.

[2019-05-01 17:10] appleboy commented on #365
@keyeMyria Thanks

[2019-05-01 17:30] gardenia commented on #365
I don't believe this is related to my original question.  I wanted the ability to use a single gorunsh instance to send pushes to some.bundle.id and other.bundle.id by dispatching to the different certs.  I don't see what "Universal Push Notification Client SSL" has to do with this as it appears to related to production vs development pushes using the same cert.

It may be that gorush never plans

[2019-05-05 16:00] harshgrovr opened #409 "POST /api/push displays success but it does not give any notification in Android"
I am using postman to make following request:

POST http://localhost:8088/api/stat/go

{
  "notifications": [
    {
      "tokens": ["server_key", "mobile_token"],
      "platform": 2,
      "message": "This notification will go to iOS and Android platform via Firebase!"
    }
  ]
}
What is token_a and token_b (server_key and phone_token)? I used various combination of entering those but didn't wo

[2019-05-05 16:27] appleboy commented on #409
`api_key` is your fcm server key.

[code]

[2019-05-05 16:29] harshgrovr commented on #409
where do i specify it in request?

[2019-05-05 16:36] harshgrovr commented on #409
It worked!

Please update Read me file, the api_key option is missing there in the request.

Thanks for the prompt response!

[2019-05-05 16:36] #409 closed

[2019-05-06 06:15] appleboy commented on #409
@harshgrovr

See the request body: https://github.com/appleboy/gorush#request-body

[2019-05-06 16:52] harshgrovr commented on #409
thanks!

[2019-05-08 08:51] anandhkumar opened #410 "Getting error while execute gorush command"
I have installed gorush in my linux machine and  executing gorush command, getting following error , I have used v1.9.0 tag

[root@papi_stage gorush]# gorush
-bash: gorush: command not found
[root@papi_stage gorush]#

go install command successfully executed,
Can you please tell why I am getting this error?

[2019-05-16 06:52] anandhkumar opened #411 "What is the throughput we got when we use gorush?"
I have done the load testing in gorush, I got following throughput.

**For BroadCast with FCM:**
It process 15264 token per mins for single node.
**For MultiCase with FCM:**
3 millions per minutes for singel node.

Is this the throughput gorush have? or How we can turn the gorush to get good throughput?
Can anyone share what throughput you got?

[2019-05-20 15:46] vadimkozak commented on #410
try to run using `./gorush `
Thats happens because you have compile from source and as a result you get a single executable file. You can create linux service to run it in production by putting path to binary to service config

`sudo nano /etc/systemd/system/gorush.service`

`[Unit]
Description= gorush service description
After=network.target
[Service]
User=root
Group=www-data
ExecStart=/home/path

[2019-05-20 15:55] appleboy commented on #410
@anandhkumar Please move the gorush binary file to `/usr/local/bin/` or any path which in `$PATH` variable.

[2019-05-21 02:59] hotuy commented on #348
Hi appleboy, you have any update for logs error grpc? base logs i will delete token revoked.
Thanks.

[2019-05-21 06:34] appleboy commented on #355
Implemented in https://github.com/appleboy/gorush/pull/412

[2019-05-21 06:34] #355 closed

[2019-05-21 06:35] appleboy commented on #329
@belek @jpeterson88 @xnathanh Custom data has been implemented in https://github.com/appleboy/gorush/pull/412

[2019-05-21 06:35] #329 closed

[2019-05-21 06:37] appleboy commented on #390
@gavinyangs @d3sire @ahmet Try the latest code base. Can't reproduce this problem.

[2019-05-21 06:37] #390 closed

[2019-06-03 15:40] yacir commented on #386
Hi @appleboy i ve pushed a PR if you wana check it.

[2019-06-07 19:26] jhernandezb opened #415 "Go modules issue with gofight dependency"
There is an issue introduced by the `gofight` dependency

`gofight` has been updated to use go modules and import path 'v2'  but this repo relies on using
`gopkg.in/appleboy/gofight.v2` as import path

But now `gopkg.in/appleboy/gofight.v2` redirects to v2.1.1 which is the version with go modules and import path v2.
This creates a conflict  it requires you to switch to `github.com/appleboy/gofight

[2019-06-17 17:17] #415 closed

[2019-07-13 14:05] AmirSoleimani opened #418 "gRPC call has problem with `Data` field"
Hi,

I used gRPC for sending FCM push notification with `Data` field, but in my client side i received bad data structure!

[code]
What's `"{"Kind":{"StringValue":"1563021905599"}}"` ?!

Thanks.

[2019-07-18 23:50] eric-cancil opened #419 "Sync doesn't seem to be working"
Hello, and thanks for writing this server.

I have it configure in docker compose as follows.

[code]

When I make a request I expect to get an error back to my http request (since I haven't configured any other bits, however I see the below, and always get 200s back.

[code]

Would really appreciate any feedback.

[2019-07-19 18:21] #419 closed

[2019-08-03 00:35] JS1010111 commented on #375
Hi @gardenia ,

You can check your active connections when running gorush as web server. It indeed seems to keep a connection alive with an APNS server.

[code]

[code]

[2019-09-01 10:50] maksymkotov opened #420 "Limitation of sending messages with max_retry for unregistered tokens"
If we set `max_retry` to more than 0 in the configuration file, sending messages will be repeated. For the case when the device token is not registered, this is not relevant.

[2019-09-06 07:49] appleboy commented on #386
closed via #414

[2019-09-06 07:49] #386 closed

[2019-09-11 07:31] HelmiRifai opened #422 "Sync mode and client timeouts issue"
All our clients are sending notifications in sync mode, but from my understanding of the code sync is still using the internal "queue" to send out the notification with the addition of the waitgroup to notify the client of the resulting status.

Our issue is that under high load and with a client timeout of 60-120s we see increase in internal queues and if the notification remains in the queue for

[2019-09-14 04:33] maksymkotov commented on #418
Any suggestions?

[2019-09-20 12:45] McPo opened #423 "Support iOS 13 apns-push-type"
`apns-push-type` is now a required key in the payload starting from iOS 13, without this notifications can be delayed or dropped altogether.

https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/sending_notification_requests_to_apns?language=objc

[2019-09-20 14:14] maksymkotov commented on #423
Just tested push on iOS 13. So far, it works.

[2019-09-22 18:01] HelmiRifai commented on #422
@appleboy appreciate any input and willing to work on a solution for this

[2019-09-23 09:39] McPo commented on #423
It was raised as an (actual) issue by one of our iOS Developers. I have since tested it myself, and it does appear to work fine. However there might be some cases where it doesn't. I'll get more info and update this issue.

A quick "fix" is to upgrade APNS2 from v0.16.0 to v0.19.0 (Theres very minor differences, so should be fine). It now adds "alert" as the default apns-push-type. https://github.

[2019-09-23 15:08] McPo commented on #423
Added a PR #424

[2019-09-23 15:37] appleboy commented on #423
closed via #424

[2019-09-23 15:37] #423 closed

[2019-09-23 15:40] appleboy commented on #420
maybe we can ignore the resend notification if the error message is `device token is not registered`.

[2019-10-03 11:37] abdulnewswav opened #426 "Any plan to support HMS Push kit, Huawei push notifications"
Hi

As you know all, New Huawei devices don't support Google Play services, that means FCM won't work on it, so Huawei build their own SDK to send push notifications to these new devices like Mate30
https://developer.huawei.com/consumer/en/service/hms/developer.html

[2019-10-04 12:50] appleboy commented on #426
@abdulnewswav I don't have any Huawei device but maybe I can't implement the first version for HMS

[2019-10-05 10:53] medcampus opened #428 "go get github.com/appleboy/gorush"
go: github.com/appleboy/gofight@v2.0.0+incompatible: go.mod has post-v2 module path "github.com/appleboy/gofight/v2" at revision v2.0.0
go: gopkg.in/appleboy/gofight.v2@v2.0.0: go.mod has non-....v2 module path "github.com/appleboy/gofight/v2" at revision v2.0.0
go: error loading module requirements

[2019-10-05 11:58] medcampus commented on #415
How to solve this?

[2019-10-05 17:33] appleboy commented on #415
@medcampus Please show more detail about your question.

[2019-10-05 20:29] jhernandezb commented on #415
@medcampus  I had to do `go get github.com/appleboy@master` because the last tagged release `v1.11.1` doesn't contain the fix, so probably a new version release would fix it as well.

[2019-10-06 07:19] appleboy commented on #415
@jhernandezb I will release a new version asap.

[2019-10-07 02:08] appleboy commented on #415
bump to v1.11.2 https://github.com/appleboy/gorush/releases/tag/v1.11.2

[2019-10-07 02:14] appleboy commented on #428
Please use the go `v1.11` up version and enable the go module.

[code]

[2019-10-07 02:14] #428 closed

[2019-10-16 13:07] appleboy commented on #422
@HelmiRifai The notification will not be sent after the client disconnected `Gorush` server if the notification in the queue list. I will send the PR to implement the feature.

[2019-10-17 15:19] #422 closed

[2019-10-17 15:50] #398 closed

[2019-10-22 14:13] conradludgate opened #432 "Cannot build for aws lambda"
I ran the commands as listed in the README,
[code]

But I get the following error

[code]

I'm not sure what the intent is, whether it's to only build a certain subset of files, but it's clearly not doing that in this case.

I am using go1.12.7 on macOS 10.15 if that helps

[2019-10-27 03:13] #432 closed

[2019-10-27 12:42] appleboy commented on #432
@conradludgate Please try the latest version. Thanks for your reminder.

[2019-10-27 12:48] conradludgate commented on #432
Seems to be fixed. Thanks!

[2019-10-28 08:33] shlima opened #435 "How to disable /healthz access log?"
How can I disable /healthz access log?

I was trying to set:

[code]

[code]

[code]

But the following lines are always appear in console:

[code]

[2019-11-02 06:26] appleboy commented on #435
I will take it.

[2019-11-06 18:36] thesauravmitra opened #438 "Silent notifications not working on iOS?"
Hi, I've recently switched to using `gorush` to deliver notifications to my app.

I am checking if my app is receiving notifications (in my case, while the app is in the foreground) by implementing the following in `AppDelegate.swift`:

[code]

If I don't set the delegate function `userNotificationCenter(_, willPresent: withCompletionHandler:)`, then all remote notifications will be processed in t

[2019-11-14 10:17] medcampus opened #440 "Rich Notification"
how to send a rich notification containing images and bold text

[2019-11-21 07:33] appleboy commented on #440
No, we can't do that or you can provide the specific API documentation.

[2019-11-21 07:33] #440 closed

[2019-11-28 03:25] emiksk opened #441 "Does the gorush support graceful shutdown?"
Does the gorush support 'graceful shutdown' ?
The 'graceful shutdown' I say means that notifications workers and queue have are sent to APNs/FCM before a push notification service is shutdown.
I have an option to use sync mode, but I use async mode if possible.

If the gorush doesn't support 'graceful shutdown', I would like to try to contribute your project.

Thank you.

[2019-11-29 03:25] appleboy commented on #441
Not yet, I will add this feature asap.

[2019-12-03 08:41] emiksk commented on #441
Thank you for your response.

That's good news for me. :)

[2019-12-03 13:49] radist opened #443 "Running in AWS Lambda push error"
SETUP:
lambda + apigateway ( /{proxy+} - ANY - Method Execution )
Virtual Private Cloud (VPC) - no VPC

CloudWatch Logs for lambda

[code]
[code]

Config file ( GET from https://*************.execute-api.us-west-1.amazonaws.com/prod/api/config)

[code]

[2019-12-04 12:57] belek opened #444 "Where to specify analytics_label for FCM Options?"
Hi, how to specify analytics_label parameter in push payload for Firebase Messages?
https://firebase.google.com/docs/reference/fcm/rest/v1/projects.messages#fcmoptions

[2019-12-06 08:42] zhaoqb opened #446 "grpc call send panic"
gorush/worker.go

[code]

[2019-12-06 10:14] belek commented on #444
Well, I found out that FCM Options is introduced in new API and gorush uses Legacy API.

[2019-12-07 09:50] appleboy commented on #444
@belek Yes, gorush use the [legacy HTTP protocols](https://firebase.google.com/docs/cloud-messaging/send-message#send-messages-using-the-legacy-app-server-protocols) not [v1 HTTP protocol](https://firebase.google.com/docs/reference/fcm/rest/v1/projects.messages).

[2019-12-08 01:30] appleboy commented on #446
@zhaoqb Thanks for your report. I will take it.

[2019-12-08 01:34] appleboy commented on #446
Side effect from https://github.com/appleboy/gorush/pull/431

[2019-12-13 06:45] belek commented on #444
Is there any plans and estimates on migrating to v1 ?

[2019-12-13 07:21] appleboy commented on #444
We should move to https://godoc.org/google.golang.org/api/fcm/v1

[2019-12-19 05:54] kogisin opened #448 "Question: can this library be used as to import in a personal project?"
## Steps that I have done before I ask this question

- I've successfully built `gorush` binary file and sent push notification to my android phone.

- I've also successfully sent push notification using `POST /api/push` web API.
To accomplish this, I git cloned this project and created `config.toml` inside [gorush](https://github.com/appleboy/gorush/tree/master/gorush) folder and changed some par

[2019-12-21 02:44] Pantani opened #449 "Failed pushes never dispatch to the hook URL"
Hey, I did have some failed push notifications:

[code]

And I did set the env vars `GORUSH_CORE_SYNC` as false and the `GORUSH_CORE_FEEDBACK_HOOK_URL` with the API hook URL, but the failed event is never dispatched to my hook API. Do I need to configure another stuff?

[2019-12-27 14:38] cfanboy commented on #446
I run the gorush server by downloaded binary and the gRPC example codes, but panic:

panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x20 pc=0x18b892f]

goroutine 72 [running]:
github.com/appleboy/gorush/gorush.SendNotification(0x0, 0x0, 0x0, 0x0, 0x0, 0x0, 0xc0000f4a40, 0x1, 0x1, 0x1, ...)
        /Users/xxx/golang/src/

[2020-01-06 08:54] includevsimport commented on #319
it work!!! you must be a genius!

[2020-01-06 10:39] appleboy commented on #319
Please use the `linux-amd64` instead of `alpine` for the latest version.

[code]

[2020-01-08 09:35] aloncn opened #450 "如何全用户推送"
不指定tokens是不是全用户推送？

[2020-01-08 13:32] appleboy commented on #450
不行，一定要有 token 才可以發送。

[2020-01-08 13:32] #450 closed

[2020-01-09 02:56] aloncn commented on #450
好的，我自己做处理。看来国内第三方推送服务也是自己实现的

[2020-01-14 01:56] vikmeup commented on #449
@appleboy

[2020-01-19 14:18] appleboy commented on #449
I will take it.

[2020-01-20 09:39] karpoffS opened #455 "Runtime error: invalid memory address or nil pointer dereference"
[code]

[2020-01-20 16:38] appleboy commented on #455
Please give more detail information like what is your command?

[2020-01-21 10:48] McPo opened #456 "Proxy interferes with healthcheck"
If you set the proxy via the config file `http_proxy:`, the docker healthcheck `gorush --ping` attempts to use the proxy. Which results in localhost (used by the healthcheck) resolving to the proxy as opposed to the container.

[code]

Ive worked around this issue by using `HTTP_PROXY` env variables. (In my case this is actually preferred). You could also disable the healthcheck as a temp workarou

[2020-01-25 00:57] appleboy commented on #456
@McPo I will take it and we don't need to set any proxy in `gorush --ping` command.

[2020-01-25 02:16] #456 closed

[2020-01-28 09:09] m1schka opened #458 "Firebase broken on latest master"
Hey,

when working with the latest master docker container server, the FCM appears to be broken. IOS seems fine but on Android, the notification arrives but the notification in there is null (`RemoteMessage.GetNotification()`).

logs from the server:

[code]

rolling back to 1.11.2 fixes it

I know working with master is always dangerous but just letting you know. :)

[2020-01-31 03:11] thaitanloi365 commented on #343
@parangdae , what handler's name you are using ?

[2020-01-31 14:51] appleboy commented on #458
@m1schka Thanks. I will try it on the master branch.

[2020-02-03 10:51] tsauzeau commented on #446
Hey, any news on that ?

[2020-02-04 02:00] appleboy commented on #441
I am working on this feature.

[2020-02-04 05:27] #441 closed

[2020-02-04 08:47] appleboy opened #460 "support graceful shutdow for http server"
as title

[2020-02-04 09:10] #460 closed

[2020-02-04 14:29] appleboy opened #462 "support graceful shutdown for RPC service"

[2020-02-04 14:42] #462 closed

[2020-02-05 08:00] appleboy commented on #455
@karpoffS Can't reproduce the problem and please reopen if you can give more detail information.

Please try the latest version.

[2020-02-05 08:00] #455 closed

[2020-02-05 08:57] #435 closed

[2020-02-05 14:10] appleboy opened #465 "support graceful shutdown Timeout"
default as 30 second

[2020-02-05 15:23] #465 closed

[2020-02-07 12:58] setevoy2 opened #467 "Question: env variables to replace config file options?"
Can't find anything about using environment variables for the Gorush - is it possible to use some to replace values from the config.yml to avoid updating that file each time?

[2020-02-07 13:15] slimus commented on #467
Yes, you can use env for config.
The code is here: https://github.com/appleboy/gorush/blob/master/config/config.go#L223
And example config here: https://github.com/appleboy/gorush/blob/master/k8s/gorush-deployment.yaml#L27

[2020-02-07 13:20] #467 closed

[2020-02-10 14:14] setevoy2 opened #468 "Gorush ignores custom config"
I'm trying to run Gorush in a Kubernetes pod.
I have a certificate mounted to the pod, and a config file.
The problem is that after it's running - GET /api/config returns default values - not from the /config.yml.

I also found, that Gorush **totally ignores** a config file if it has any errors - but Gorush WILL NOT raise any exceptions or any message to its logs - just starts using its default va

[2020-02-10 14:20] appleboy commented on #468
You should use the config map in k8s.

See [configmap.yaml](https://github.com/appleboy/gorush/blob/master/k8s/gorush-configmap.yaml) and [deployment.yml](https://github.com/appleboy/gorush/blob/dbc57cd828005b441814d6b72808750a04577a15/k8s/gorush-deployment.yaml#L26-L36)

[2020-02-10 14:27] setevoy2 commented on #468
I'm using them, yes.
I have a dedicate configMap, and it's mounted to the pod:

[code]

It then is present in the pod.

Cert:

[code]
Config:

[code]

Also, wondering why Gorush says absolutely nothing if a config file has any misprints/errors?
Just a "blablabla" at the end of the config, restart the Gorush - it will just omit using /config.yml and will start using default values.

So, something m

[2020-02-10 14:49] setevoy2 commented on #468
Aha, okay.
I made it working using default configMap `gorush-config` instead of creating an additional one with the full config.yml content and mount it as a file to the /config.yml- just added mine data in there:

[code]

And then using it in the deployment, as you did it for the Redis:

[code]

[2020-02-10 16:16] appleboy commented on #468
I will close the issue, please feel free to reopen if you have another problem.

[2020-02-10 16:17] #468 closed

[2020-02-11 10:20] setevoy2 commented on #468
@appleboy Well, actually yes - got another issue related to this case :-)

So. now I'm using envs passed to the pod:

[code]

And then in the default configMap:

[code]

The problem here is the Password as it's hardcoded to the configMap.

But if move it to the Secret object and then use for the `GORUSH_IOS_PASSWORD` variable:

[code]

It will not work:

Although `GORUSH_IOS_PASSWORD` is present i

[2020-02-20 01:18] Pantani commented on #449
@appleboy, any update?

[2020-02-20 02:26] appleboy commented on #449
@Pantani Sorry for the delayed response. I will reproduce the problem today or tomorrow.

[2020-02-21 10:45] adri opened #469 "Question: Is there a helm chart?"
To make it easy to install gorush via Helm in Kubernetes.

[2020-02-21 13:24] appleboy commented on #469
I will take it.

[2020-02-21 14:36] setevoy2 opened #470 "Sudden drop in throughput"
Hi.
We just started testing the Gorush, and faced with a weird issue: sometimes it works well and sends about 5.000 pushes.
Then it drops the speed to the about  50-80 messages/sec.
Any ideas why this can happen? Logs are clear (only the `BadDevideToken` happens, but that's from Apple and seems to be a "valid error").
The same history using any `redis` or `memory` backends.

![Screenshot_20200221_

[2020-02-24 10:40] slimus commented on #449
Hi @Pantani. I tried to reproduce your problem but I can't. All failed push sended. Did you receive any post request to your hook url? Please tell me are your backend for hooks working correctly?
@appleboy I think need to add timeout to DispatchFeedback -> httpclient (may be configurable). What do you think?

[2020-02-24 11:19] yaronius commented on #470
May be related to https://github.com/sideshow/apns2/issues/163

[2020-02-24 13:15] medcampus opened #471 "Add Image tag in notification message for GRPC"

[2020-02-24 13:36] appleboy commented on #471
See https://github.com/appleboy/gorush/pull/454

[2020-02-24 13:40] medcampus commented on #471
I am using grpc send request where notification message does not have "Image" tag

[2020-02-24 13:41] appleboy commented on #449
@slimus Good catch. I will add a timeout setting for the webhook.

[2020-02-24 13:47] medcampus opened #472 "GRPC Notification message ImageTag"
message NotificationRequest {
  repeated string tokens = 1;
  int32 platform = 2;
  string message = 3;
  string title = 4;
  string topic = 5;
  string key = 6;
  int32 badge = 7;
  string category = 8;
  Alert alert = 9;
  string sound = 10;
  bool contentAvailable = 11;
  string threadID = 12;
  bool mutableContent = 13;
  google.protobuf.Struct data = 14;
}

[2020-02-24 14:08] appleboy commented on #472
duplicated of #471

[2020-02-24 14:08] #472 closed

[2020-02-24 14:18] appleboy commented on #449
@slimus I created new PR: https://github.com/appleboy/gorush/pull/473

[2020-02-24 15:49] yaronius commented on #470
Ok, got the same issue, will provide just a bit more details. Maybe I am doing something wrong?

I installed gorush with Homebrew as stated in docs. Then I use the following config to run it locally (only for iOS pushes):
[code]

I have a script that sends notifications locally to my iPhone, I use it to benchmark throughput. Here it is:
[code]

I get successful response when running it. Like the f

[2020-02-25 04:09] slimus commented on #449
@Pantani can you please test it again in latest master?

[2020-02-25 04:11] Pantani commented on #449
@vikmeup can you test please?

[2020-02-25 04:15] slimus commented on #438
@thesauravmitra
Why do you think that silent notifications are not being delivered correctly?
I read this article https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/pushing_background_updates_to_your_app and it seems all is ok

[2020-02-25 04:19] slimus commented on #443
@radist did you config your routes ?
Like this https://aws.amazon.com/premiumsupport/knowledge-center/internet-access-lambda-function/

[2020-02-25 17:25] yaronius commented on #470
And I got it. The reason for slow performance is very simple and obvious. The problem is in [this code](https://github.com/appleboy/gorush/blob/master/gorush/notification_apns.go#L363):
[code]
Actually, `client.Push()` is a time-consuming operation that runs synchronously. When I extract this call into a goroutine, I have an amazing performance boost (thousands pushes per second).
What really help

[2020-02-26 09:17] winwisely99 commented on #426
Now that Huawei have started to deploy devices, i wonder if any stargazers have devices now ?

Would be awesome to try to get this going.

[2020-02-26 14:19] appleboy commented on #458
Anybody can help to try the bugs in the master branch?

[2020-02-26 14:56] slimus commented on #458
@appleboy yes, it's true. Problem line is here https://github.com/appleboy/gorush/blob/master/gorush/notification_fcm.go#L65

[2020-02-27 03:55] slimus commented on #458
@appleboy please look at my PR

[2020-02-27 04:00] appleboy commented on #458
OK. I will take it.

[2020-02-27 05:40] #458 closed

[2020-02-27 05:41] appleboy commented on #458
@m1schka Can you help to try the latest version? Thanks.

[2020-02-27 07:56] oybekmuzropov opened #476 "Can't send notification with gRPC."
Hello. I can't send notification by gRPC. I run gRPC server with GORUSH_GRPC_ENABLED=true GORUSH_GRPC_PORT=9000 gorush. Log is "INFO[2020/02/27 - 11:56:44] gRPC server is running on 9000 port". I used this code.
       conn, err := grpc.Dial(address, grpc.WithInsecure())
	if err != nil {
		log.Fatalf("did not connect: %v", err)
	}
	c := proto.NewGorushClient(conn)

	tokens := []string{"token1"}

[2020-02-27 17:09] aureliensibiril commented on #476
Using appleboy/gorush:lastest docker image.

Same here
[code]

[2020-02-28 18:20] yaronius opened #477 "Redis stats storage concurrency issues"
Stats stored in Redis may be affected by the fact that current redis storage is not concurrency safe. To demonstrate this I added the following test to the `storage/redis/redis_test.go` file (at the end of `TestRedisEngine`):
[code]

So far this test fails with an error similar to:
[code]

This is due to how stats are incremented in methods like the following:
[code]

I suggest using the redis-nat

[2020-02-29 09:14] #477 closed

[2020-02-29 10:54] appleboy commented on #470
I will take it.

[2020-02-29 11:33] appleboy commented on #470
Original code

[code]

should be changed to

[code]

[2020-02-29 17:33] oybekmuzropov commented on #476
@aureliensibiril I run gorush with docker image. But gRPC did not work.

[2020-03-01 02:29] appleboy commented on #476
I will take it.

[2020-03-01 15:41] slimus commented on #449
@Pantani @vikmeup any news here?

[2020-03-03 10:37] oybekmuzropov opened #480 "Client does not get all notifications."
When Client was offline, I sent 10 notifications to client. In this case, client only got the latest notification which I sent. What I do for client get all notifications .

[2020-03-03 10:38] slimus commented on #480
@oybekmuzropov which platform?

[2020-03-03 10:46] oybekmuzropov commented on #480
@slimus Android

[2020-03-03 10:58] slimus commented on #480
@oybekmuzropov I think it is client problem . Please show me your android source code

[2020-03-03 11:17] oybekmuzropov commented on #480
@slimus I understood. Thank you!!!

[2020-03-03 13:51] slimus commented on #480
@oybekmuzropov can we close this issue?

[2020-03-03 16:45] #480 closed

[2020-03-10 13:11] appleboy commented on #476
Please try the latest version.

[2020-03-10 13:11] #476 closed

[2020-03-13 12:04] oybekmuzropov opened #483 "did not send notification by grpc(again)"
@appleboy I did not send notification by GRPC.  gorush/worker.go file has SendNotification(req PushNotification) func. In this func, read req.ctx.Done(). But ctx did not set. I fixed it, but did not send pull request. Please fix this bug.

[2020-03-13 15:50] slimus commented on #483
duplicate of #446

[2020-03-13 15:52] slimus commented on #446
fixed https://github.com/appleboy/gorush/pull/484/files

[2020-03-13 16:00] #471 closed

[2020-03-13 16:00] #483 closed

[2020-03-13 16:07] appleboy commented on #446
@slimus Thanks for your PR.

[2020-03-13 16:07] #446 closed

[2020-03-13 16:10] appleboy commented on #471
@medcampus Please help to try the latest version and see the PR #485

[2020-03-13 17:13] NurRozikin opened #486 "Error Message: invalid registration token"
gorush -android --title "MyTitle" -m "Hi" -k AIzaSyBcLEgcAmI6ksXqx9ReXXXXXXXXX -t U2p2wKrqLsHjLn1es0zudXqOCL1fOGEZIQlhF3KARWKyOCZi3jB2crinEPYVJztjtGxbMn6cIUJck3WH2EgVSg8SZGf_AkXXXXXXXXXXX

I always get error message below :

time="2020/03/14 - 00:06:49" level=debug msg="Start push notification for Android"
time="2020/03/14 - 00:06:50" level=debug msg="Android Success count: 0, Failure count: 1"
ti

[2020-03-14 04:47] slimus commented on #486
Please check your ApiKey. This error returns from FCM server

[2020-03-14 07:43] NurRozikin commented on #486
OK, I will close this issue due to wrong Device Token

[2020-03-14 07:43] #486 closed

[2020-03-14 15:29] slimus commented on #418
@AmirSoleimani @maksymkotov is it actual yet? If yes, please send me example of your grpc request and payload result which you get. Thanks!

[2020-03-15 07:08] slimus commented on #410
@appleboy close this issue?

[2020-03-15 07:28] slimus commented on #373
fixed https://github.com/appleboy/gorush/pull/487

[2020-03-15 12:36] #373 closed

[2020-03-15 12:37] appleboy commented on #410
@slimus ok, please try the latest version or v1.12.0

[2020-03-15 12:37] #410 closed

[2020-03-17 09:00] SmartArray commented on #418
We were running into the same issue. We have been using an adapted version of the official gRPC node example:

[code]

Thankfully, the notification arrives to iOS without a problem.
The data was added successfully but in special protobuf representation:

[code]

As you can see the JavaScript object wasn't just merged, instead it appends extra serialization information (type info):
[code]

Sure, we

[2020-03-20 06:28] anandhkumar opened #489 "Not able to use gorush"
I have install gorush in my linux system
OS: Centos 7
Go version :1.12.5

mkdir $HOME/src
cd $HOME/src
git clone https://github.com/appleboy/gorush.git
cd gorush
go install

After follow the above steps try to run the command getting below error

$ gorush
-bash: gorush: command not found

Then I try to run go using command "go run main.go". Now the server started. When I hit the curl command not s

[2020-03-20 07:43] slimus commented on #489
Hi @anandhkumar !
Please read about how to install go from tar: https://golang.org/doc/install#install. Did you make `export PATH=$PATH:/usr/local/go/bin` (where /usr/local/go/bin is your path where golang was installed)? Show me your PATH variable
Also show me log after you run `go run main.go` and show me your config or env (without platforms tokens)

[2020-03-20 15:44] appleboy commented on #489
@anandhkumar Add `$GOPATH/bin` in `PATH` env.

[2020-04-01 04:19] pwFoo commented on #248
PR #310 is still open? So not yet implemented?

Searching for a push notification service / server to separate push service from the application (backend / server part).

[2020-04-01 04:38] pwFoo opened #490 "[Question] How to register clients?"
Hi,
I'm searching for a self hosted push notification service to separate push service from my web application.

I played with the web-push-php library server side and a javascript client part.

Client need to register und send information the the server. Server need to store that information to send push notifications to the clients via mozilla / microsoft / google push service.

I deployed gorus

[2020-04-01 05:09] pwFoo opened #491 "Endpoint /api/config?"
Hi @appleboy,
the config file could contains data like cert / key. So api endpoint /api/config should be disabled in production environment?

[2020-04-01 05:53] slimus commented on #489
@anandhkumar @appleboy close this issue?

[2020-04-01 05:56] slimus commented on #490
Hi pwFoo,

You should to store users and their tokens in your DB and use gorush only to send push to your clients.
So gorush is only transport (with error checking, retry policy and webhooks) for your push messages.

[2020-04-01 06:05] pwFoo commented on #490
But what's about vapid pub / priv key?
https://github.com/SherClockHolmes/webpush-go

I know about because of webpush-php tests. I needed vapid key to send notifications via push provider to the client? Vapid keys should be gorush or application part and how to set for the push notification?

[2020-04-01 06:16] #489 closed

[2020-04-01 06:22] slimus commented on #491
Hi @pwFoo ,
I think you can change `api.config_uri` to smthng like `/secure-api/config/<uuid>` and restart gorush.
Gorush has stat_go_uri, stat_app_uri, sys_stat_uri, metric_uri  and we should disable (or secure: add some hash or add http basic auth) it also.

[2020-04-01 06:25] slimus commented on #490
webpush is not supported yet, sorry. Please move discussion about webpush to #248

[2020-04-01 06:26] slimus commented on #248
PR #310  is outdated. We should close it and create the new one with actual weboush lib

[2020-04-01 13:45] pwFoo commented on #491
Ok, some possible solutions with basicauth, block path or use a additional hash. Thanks

[2020-04-01 13:45] #491 closed

[2020-04-01 13:46] pwFoo commented on #490
Ok, thanks

[2020-04-01 13:46] #490 closed

[2020-04-01 13:53] pwFoo commented on #248
Webpush lib would be awesome!!!

Generate vapid keys and take care about communication to the push services of Microsoft, Mozilla, Apple and Google dependent on used client device / browser. :+1:

[2020-04-02 13:24] medcampus opened #492 "Add Priority tag in grpc notification request"
message NotificationRequest {
  repeated string tokens = 1;
  int32 platform = 2;
  string message = 3;
  string title = 4;
  string topic = 5;
  string key = 6;
  int32 badge = 7;
  string category = 8;
  Alert alert = 9;
  string sound = 10;
  bool contentAvailable = 11;
  string threadID = 12;
  bool mutableContent = 13;
  google.protobuf.Struct data = 14;
  string image = 15;
}

[2020-04-03 11:29] medcampus commented on #492
Any updates

[2020-04-13 05:30] slimus opened #495 "Fix test(s)"
https://cloud.drone.io/appleboy/gorush/306/1/8

[2020-04-15 06:48] appleboy commented on #495
@slimus I will fix the testing this week.

[2020-04-20 03:19] yxb-git opened #496 "grpc error"
When I turn on grpc mode, an error occurs when calling

# github.com/appleboy/gorush/rpc/proto
../github.com/appleboy/gorush/rpc/proto/gorush.pb.go:505:11: undefined: grpc.SupportPackageIsVersion6
../github.com/appleboy/gorush/rpc/proto/gorush.pb.go:515:5: undefined: grpc.ClientConnInterface

[2020-04-20 06:51] slimus commented on #495
@appleboy any news here?

[2020-04-20 06:57] slimus commented on #496
@yxb-git can you please show me how you start gorush? Did you use release version or run master branch?

[2020-04-20 17:19] McPo commented on #470
Has this been resolved? As we're seeing very slow throughput in some instances (3 per second, while providing a multiple tokens at once)

[2020-04-20 17:29] yaronius commented on #470
@McPo AFAIK no, because that code is not trivial to fix. I forked the repo and rewrote that part for my needs, but sacrificed some functionality (in particular, retrying on failure).

[2020-04-21 16:36] McPo commented on #470
@yaronius Thanks for the response. Ive made a PR, its quite straightforward though, which has me suspicious that Im missing something (Im not a golang developer).

Ive tested it in sync mode (and it correctly returns logs) and have also tested retries, it all seems to work fine (albeit I have a very limited set of iOS device to test this with, so Im sending many multiples to the same one)

Would a

[2020-04-21 17:00] yaronius commented on #470
@McPo thanks for the initiative. You are right, your PR looks quite straightforward 👍I was pretty much obsessed with trying to refactor the complexity of that loop and goto statement, which definitely made me blind to a simple solution 😄

[2020-04-22 08:40] appleboy commented on #495
I will update the secret to fixing unit testing.

[2020-04-22 11:32] yaronius commented on #449
I am actively using feedback hook and everything works just fine 🤷‍♂️

[2020-04-22 14:35] slimus commented on #438
@appleboy close this issue?

[2020-04-22 14:35] slimus commented on #449
@appleboy close this issue?

[2020-04-22 16:25] appleboy commented on #495
@slimus Done.

[2020-04-22 16:25] #495 closed

[2020-04-22 17:21] appleboy commented on #449
@yaronius @slimus Thanks for your feedback.

[2020-04-22 17:21] #449 closed

[2020-04-23 00:05] slimus commented on #495
@appleboy  thanks!

[2020-04-23 04:29] appleboy commented on #393
@lengrongfu I will improve the flow in storage.

[2020-04-23 04:57] slimus commented on #448
Hi @kogisin ! This is standalone server, not a library.
In your case, you can:
1. Use your server for store mobile tokens in db and use gorush only as transportation layer
2. Use your server for store tokens and write code for send pushes using [FCM](github.com/appleboy/go-fcm) and [APNS](github.com/sideshow/apns2) libraries

[2020-04-23 05:46] kogisin commented on #448
@slimus That's fair enough. Thanks. I will close the issue.

[2020-04-23 05:46] #448 closed

[2020-04-23 07:39] #393 closed

[2020-04-23 13:03] #470 closed

[2020-04-23 13:04] appleboy commented on #470
closed via #497

[2020-04-24 02:25] #438 closed

[2020-04-24 07:38] slimus commented on #496
@yxb-git can we close this issue?

[2020-04-24 10:09] winwisely99 commented on #469
Can this be done ?

[2020-04-24 10:14] winwisely99 commented on #411
Since it has storage I would have thought it's asynchronous..

So the throughout should be blocked at the storage layer.

Redis would be fastest

[2020-04-24 16:27] joe-getcouragenow commented on #248
I am using Flutter and can test this with it as flutter web has this ability these days

[2020-04-24 16:37] appleboy commented on #248
I will close the PR #310 since of outdated.

[2020-04-25 07:28] appleboy commented on #411
I improved the performance issue in the storage. See the PR: https://github.com/appleboy/gorush/pull/500 and please show the Gorush config and how do you test the throughput?

[2020-04-25 07:30] appleboy commented on #496
@yxb-git Please show the detail information.

[2020-04-25 07:31] appleboy commented on #492
See the PR #494

[2020-04-25 10:50] #375 closed

[2020-04-26 07:52] slimus commented on #420
@appleboy please look at #504

[2020-04-26 08:38] slimus commented on #239
@hellais @appleboy is it actual yet?

[2020-04-26 13:49] appleboy commented on #239
@slimus I can't reproduce the issue.

[2020-04-26 13:49] #239 closed

[2020-05-06 09:21] slimus opened #508 "Try to fix windows build"
Look at this https://ci.appveyor.com/project/appleboy/gorush-fp5dh/builds/32682423

[2020-05-06 11:37] #420 closed

[2020-05-08 08:44] slimus commented on #369
@ahmedakmal525 please read about fcm limit [here](https://firebase.google.com/docs/cloud-messaging/concept-options#upstream_throttling)

[2020-05-12 08:43] slimus commented on #369
I think we can close this issue @appleboy

[2020-05-12 10:44] #369 closed

[2020-05-16 13:22] internalG opened #510 "Can't send iOS notification with p8 in command line?"
always got error of "Error Message: MissingProviderToken". No way to test p8 in command line?

[2020-05-16 14:27] appleboy commented on #510
Please show your command.

[2020-05-17 03:54] internalG commented on #510
./gorush -ios -m "{ \"aps\": {\"alert\": \"Test\", \"sound\": \"default\" }}" \
  -i "AuthKey_ABC.p8" \
  -t "ONETOKEN" \
  -production

[2020-05-17 08:06] slimus commented on #510
@internalG can you please show you logs?

[2020-05-17 14:04] internalG commented on #510
./gorush -ios -m "{ \"aps\": {\"alert\": \"Test\", \"sound\": \"default\" }}" \

INFO[2020/05/17 - 22:01:55] Init App Status Engine as memory
DEBU[2020/05/17 - 22:01:55] Start push notification for iOS
ERRO[2020/05/17 - 22:01:57] | failed-push | ios [**********fa36f22**********] | { "aps": {"alert": "Test", "sound": "default" }} | Error Message: MissingProviderToken

[2020-05-17 14:12] internalG commented on #510
I can use web api to send to apns now. It seems there's no option to pass key_id and team_id in command line, so that's why p8 sending failed.

[2020-05-18 02:44] slimus commented on #510
@internalG please look at #511

[2020-05-18 14:32] #510 closed

[2020-05-20 13:09] Tillman-Z opened #512 "Question: TooManyProviderTokenUpdates from APNS"
Hi there!

I just have witnessed the TooManyProviderTokenUpdates error response from APNS.
This would indicate that the derived key (which should be renewed every 20-59mins as far as I understand Apple's recommendation) would be renewed too quickly.
Is this a config error on my part or is this an issue with GoRush?

Best,
Tillman

[2020-05-20 14:24] slimus commented on #512
Hi @Tillman-Z !

Can you please describe your task? Why are  you sending a lot of pushes to one device token?

[2020-05-20 14:27] Tillman-Z commented on #512
Thanks for your quick response @slimus!
I am not sending a lot of pushes to one device token.
And if I understand it correctly then the error message refers to updating the provider token (which is derived from the p8 token) too often = earlier than 20mins.
Best,
Tillman

[2020-05-20 14:37] slimus commented on #512
Sorry, I copied incorrect info :(
I read this articles:
https://forums.developer.apple.com/thread/86288
https://github.com/matthijs2704/vapor-apns/issues/60
But I think this is not your case
So, just to clarify: you are using p8 and send pushes to different tokens. Is it correct?
How many pushes did you send before you get this error?

[2020-05-20 14:40] Tillman-Z commented on #512
This is a production system and it's sending out about 1 push per second.
I have several instances of goRush (6) all running on the same server. Those instances are 3 iOS (belonging to different teams with different p8 tokens) and 3 FCM instances.
I am not seeing this error often and it also is apparently recovering from it automatically.
But every now and then a push message will not get through

[2020-05-20 14:59] slimus commented on #512
Thank you for information.
I think we should check part with p8 token and reusing connection. Issue from library which used in gorush: https://github.com/sideshow/apns2/issues/132

[2020-05-20 15:01] Tillman-Z commented on #512
Thanks so much for your fast responses!
I would appreciate it if you updated this thread once you have committed a (potential) fix. :)

Best,
Tillman

[2020-05-23 02:32] internalG commented on #510
Thank you all. I'll try in next release.

[2020-05-27 04:50] CircleMan opened #514 "config/config.yml is missing"
The default configuration file (config/config.yml) mentioned in README.md doesn't exist.

[2020-05-29 03:44] slimus commented on #514
fixed in #516

[2020-06-08 07:36] dukepan2005 opened #518 "Memory and Goroutine grow constantly"
I deployed gorush by the "supervisor" tool.
But seems the memory grows waywardly.

![image](https://user-images.githubusercontent.com/13434393/84001623-97cb6080-a999-11ea-9af2-3ffa6660c051.png)

I checked /stat/go, the NumGoroutine is strange:

![image](https://user-images.githubusercontent.com/13434393/84001860-132d1200-a99a-11ea-8bcf-0461ff190165.png)

In fact, the goroutine_num always increases

[2020-06-08 10:34] dukepan2005 commented on #518
I checked gorush/server.go

[code]
It seems this goroutine leak due to <-closer will be blocked forever.
I'm new to Golang, not sure above if right.

I added the following code into another gin handler to test:
[code]

the number of goroutine always increase indeed.
after I update it as following:
[code]
this problem lost.

[2020-06-08 14:23] dukepan2005 commented on #518
@appleboy

Maybe we can replace following code:
[code]
with
[code]

[2020-06-08 15:23] yaronius commented on #518
@dukepan2005 this makes sense, actually the `net/http` package [states it clearly](https://golang.org/src/net/http/server.go) that
[code]

[2020-06-08 21:48] appleboy commented on #518
I will take it.

[2020-06-10 07:40] Noomegipy opened #519 "Cant pass ios spectific fields through FCM"
Hi!
I have a problem. I try to pass "alert" field through FCM.
As far as I understand FCM works both for ios and android but for go rush its like "android mode".
And i need to pass ios specific field alert through him like this

<pre><code>{
  "notifications": [
    {
      "tokens": ["123"],
      "platform": 2,
      "message": "Ground control to major Tom",
				"alert": {
					"title" : "Game R

[2020-06-10 08:06] Noomegipy commented on #519
Also i try to pass those keys inside "notification" key, but keys like "body_loc_key"(its alternative of "action_loc_key" in APNS not working

[2020-06-10 08:09] Noomegipy commented on #519
In general, I am trying to display a button for ios through FCM:)

[2020-06-12 14:26] msalihkarakasli commented on #426
Hi @appleboy, I can support testing and implementation processes for this feature. Let's add 3rd platform as Android - HMS. I don't know go language very well but I can provide information about Huawei Push system.

[2020-06-15 14:14] setevoy2 opened #520 "404 response code on any endpoint - how to monitor it?"
Hi, thanks for the tool!

Faced with an issue: adding the service to our monitoring, and found that every endpoint responses with the 404:

[code]

What the correct way to run the checks then?

[2020-06-15 14:53] slimus commented on #520
Hi @setevoy2 ! Can you please show your config?
I tried to run with default config and these locations returned 200 OK :
`http://localhost:8088/version`
`{
source: "https://github.com/appleboy/gorush",
version: "v1.11.2-61-g6bad479"
}`
`http://localhost:8088/`
`
{
text: "Welcome to notification server."
}`

Which version are you using?

[2020-06-17 13:51] pyrho commented on #512
Hey,
I'm really not an expert in any of the subjects I'm about to talk about, but I was asking myself how the token was refreshed, here is my investigation report.

According to [apple's documentation](https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/establishing_a_token-based_connection_to_apns#2943374), the token needs to be refreshed every 59m

[2020-06-17 13:58] Tillman-Z commented on #512
Good thinking...but no ;-)
Those instances all have different TeamID / KeyIDs.
So it seems that apns2 sporadically does recalc a key too often. Although I fail to see how that's possible looking at the go code (but I am not a go person either).

[2020-06-22 15:20] yaronius commented on #520
@slimus I reproduced the issue with Postman when using `HEAD` method, probably this is the issue. Gorush should handle `HEAD` at least for some endpoints, as this is often used by various monitoring tools.

[2020-06-23 03:17] appleboy commented on #520
curl default method is `GET`

[code]

curl -I for HEAD

[code]

[2020-06-23 03:18] #520 closed

[2020-06-23 10:00] setevoy2 commented on #520
@appleboy Hi.
Just run it with Docker:

[code]

And then check with any tool:

[code]

And here the `curl` with explicitly `GET`:
[code]

Althought I always thoufht that `curl` uses `GET` by default, but no - seems it uses `HEAD` instead:

[code]

[2020-06-26 19:00] Semior001 commented on #444
what about migrating to fcm v1? is it still in plans?

[2020-07-03 15:04] yaronius commented on #514
@appleboy close this please

[2020-07-03 15:31] #514 closed

[2020-07-06 09:54] yxb-git opened #527 "config"
Can't load log module, error: Set access log level error: not a valid logrus Level: ""

[2020-07-07 15:06] maxshilov opened #528 "Android topic notification via gRPC example"
Hello,

Do you have an example of sending a notification to FCM topic via gRPC ?

I suppose on gRPC client  I need to set `NotificationRequest.Topic` field.

At the same time on the server-side `PushNotification.To` field is checked( see IsTopic) for a topic name.

I don't see it being filled with any data from `NotificationRequest`.  I'm kind of confused, so any examples would be much appreciated

[2020-07-08 12:51] mehdirouhandeh opened #529 "Android configuration for getting notification"
Hi,
I'm an Android developer and want to know how can I configure our app to receive notification from Gorush.

[2020-07-08 14:16] appleboy commented on #529
You can see the document: https://firebase.google.com/docs/cloud-messaging/android/client

[2020-07-08 14:16] #529 closed

[2020-07-08 14:17] appleboy commented on #527
Please provide more detailed information like Gorush config or your steps.

[2020-07-09 02:56] yxb-git opened #530 "panic: runtime error: invalid memory address or nil pointer dereference"
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0xc7332e]

goroutine 49839 [running]:
github.com/appleboy/gorush/gorush.PushToIOS.func1(0xc0144af700, 0xc0001210e0, 0xc00895a840, 0xc0144d97e0, 0xc0144cbd0c, 0xc0144cbd20, 0xc00890e980, 0x40)
	/drone/src/gorush/notification_apns.go:418 +0x17e
created by github.com/ap

[2020-07-09 07:31] maxshilov commented on #528
I was able to fix this problem.  Please have a look https://github.com/appleboy/gorush/pull/531

[2020-07-09 07:46] #528 closed

[2020-07-11 06:08] mehdirouhandeh commented on #529
@appleboy thank you for your help

[2020-07-14 13:38] skorobkov commented on #530
I believe problem is in returned value from Push function
https://github.com/appleboy/gorush/blob/master/gorush/notification_apns.go#L393
res is nil when there is some problem in apns connection

[2020-07-14 14:33] appleboy commented on #530
@skorobkov @yxb-git I will take it.

[2020-07-14 14:52] #530 closed

[2020-07-15 01:19] #508 closed

[2020-07-15 01:23] appleboy commented on #508
See the result: https://ci.appveyor.com/project/appleboy/gorush-fp5dh/builds/34099829

[2020-07-15 04:48] mehdirouhandeh commented on #529
@appleboy Thak you for your help

[2020-07-20 19:53] AmarOk1412 opened #535 "Probleme with "max capacity reached" on latest release?"
Hi,
On some servers I use gorush 1.12 and tried to update with last binaries. However, very soon I got some errors like "max capacity reached". Am I the only one experiencing this?
Can't really provide more logs from now, as I use the 1.12 version for now

[2020-07-21 11:28] mayken opened #536 "Not working IOS push notifications when failed push"
When sending a push notification to IOS, the request hangs and there is no response, it does not write logs and does not help in sync: true. In v1.11.2 release it is OK!

[2020-07-24 15:40] JS1010111 commented on #536
Same here on 1.13.0. Docker Docker version 19.03.12.

iOS notifications seems to be in the queue forever.

Downgraded back to 1.11.2 and it's working fine again.

[2020-09-02 16:11] joekohlsdorf opened #538 "Several issues with access log configuration"
Setting `access_level: "error"` disables server status messages, this should be a different logger.
For example these messages which are logged during startup:
[code]

Setting `access_level: "error"` has no effect on HTTP access logging:
[code]

Setting `format: "text"` has no effect, log messages are still logged as JSON.

Setting `access_log` to a file only affects server log but not HTTP reques

[2020-09-03 11:32] De-Luxis commented on #426
We also have plans to port the application to their platform and there was a question with their push notifications.
Let's take part in the tests.

[2020-09-04 03:03] appleboy commented on #426
@De-Luxis @msalihkarakasli I merged the PR. Thanks for @msalihkarakasli contribution.

[2020-09-04 03:03] #426 closed

[2020-09-12 08:15] aloncn opened #539 "ios如何定义aps推送参数"
用了很久的gorush，一直是按照文档中把自定义参数放在data里，如

`{
    "notifications":[
        {
            "message":"hello",
            "data":{
                "key":"value"
            },
            "platform":1,
            "tokens":[
                "a2f93bf166db9*******bf3e5734f2d18a9f42d53"
            ],
            "topic":"com.my.topic"
        }
    ]
}`

在接管另一个app推送服务时，自定义参数需要在aps下面，如

`{
    "aps":{

[2020-09-17 01:56] joekohlsdorf commented on #518
I can confirm that the proposed fix works.

[2020-09-22 03:33] #539 closed

[2020-09-27 04:12] #492 closed

[2020-09-27 04:45] #518 closed

[2020-09-27 04:52] appleboy commented on #535
@AmarOk1412 Please increase the number of `queue_num` or set as `zero` for unlimited in YAML config.

[2020-09-27 04:53] #535 closed

[2020-09-27 04:54] appleboy commented on #527
Please set the default value in Log section.

[code]

[2020-09-27 04:54] #527 closed

[2020-09-27 05:18] appleboy commented on #518
@dukepan2005 @joekohlsdorf Please help to try the latest version.

[2020-11-10 10:32] jeromepasvantis commented on #536
Hey, I'm running into the same (or similar?) issues with v1.13.0 - also on Docker. It just hangs forever without `failed-push` or `succeeded-push` logs:

`{"level":"debug","msg":"Start push notification for iOS","time":"2020-11-10T10:17:25Z"}`

Using v1.11.2 and v.1.12.0 and with the same payload, I receive the notifications nicely. :)

[2020-11-12 08:41] Harv3009 opened #546 "Support apns field in grpc message for firebase"
Hi! Can i use grpc with apns field for firebase? Is it planned to expand the functionality if not?

[2020-11-18 07:44] jason-shen opened #547 "voip push"
Hi all

this lib looks really good, just a question, does this support ios voip push?
push_type=voip

i couldn't find anything in the docs

any advice would be awesome

thanks advance

Jason

[2020-11-19 03:47] slimus commented on #547
Hi @jason-shen !

If I read [PushKit](https://developer.apple.com/documentation/pushkit) and [Supporting PushKit Notifications in Your App](https://developer.apple.com/documentation/pushkit/supporting_pushkit_notifications_in_your_app) correclty you don't need any changes in your server (or in gorush in this case).

When you implement PushKit for app just send push notification to correct device t

[2020-11-19 04:24] jason-shen commented on #547
do you have to pass the type to apn? as i use onesignal now, they require to pass the push_type as voip to their server

thanks @slimus

[2020-11-19 18:41] slimus commented on #547
@jason-shen I found [information about this param](https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/sending_notification_requests_to_apns/)
So gorush has this param in [notification request](https://github.com/appleboy/gorush/blob/3918fab9081f8d7db74d058dd8d52d18e2d6f393/gorush/notification.go#L97). Can you please try it and write your result?

[2020-11-21 11:38] jason-shen commented on #547
I don't have this install yet will try it once I have it install and report the result here

Cheers

[2020-11-21 12:01] appleboy commented on #547
@jason-shen See the PR: https://github.com/appleboy/gorush/pull/424

[2020-11-21 13:31] jason-shen commented on #547
Thats a year ago so is the still the case

[2020-11-24 02:36] daurensr opened #548 "why the value of 'success' in grpc is hardcoded as true? I think this is very misleading."
https://github.com/appleboy/gorush/blob/5f88e5da5d03adc5092c73e838af9e5025325513/rpc/server.go#L102

[2020-11-24 03:01] daurensr opened #549 "Android notification payload in gRPC"
How can I send Android notification payload using gRPC?
gRPC NotificationRequest struct has a special field `Alert` for iOS alert payload, but there is no
such field for Android.
[code]

Also, looking at your code I have noticed that you hardcoded `success` value in `NotificationReply` to `true`
[code]
I think this might be misleading.

[2020-11-24 03:02] #548 closed

[2020-11-24 10:02] ghost opened #550 "Migrate from legacy FCM HTTP API to HTTP v1 API"
This project's dependency `github.com/appleboy/go-fcm ` uses legacy FCM HTTP API.
Are there any plans to migrate it to the v1 API as [recommended](https://firebase.google.com/docs/cloud-messaging/migrate-v1) by Firebase documentation? Or maybe
integrate Firebase Admin SDK instead of using raw HTTP API.

Also, how can I pass `TitleLocArgs `and` BodyLocArgs` values as array of strings? In the depend

[2020-11-29 08:49] duongson1961996 commented on #519
I have same issue with @Noomegipy . I want to send badge number to iOS device by FCM, but it 's not working.

[2020-12-01 09:08] oybekmuzropov opened #551 "Not sending IOS push notifications via gRPC"
I am trying to send IOS push notification. It gives success response  but gorush docker image throws error.
`goroutine 27 [running]:
github.com/sideshow/apns2.(*Client).Development(...)
  /go/pkg/mod/github.com/sideshow/apns2@v0.20.0/client.go:120
github.com/appleboy/gorush/gorush.getApnsClient(...)
  /drone/src/gorush/notification_apns.go:356
github.com/appleboy/gorush/gorush.PushToIOS(0x0, 0x0,

[2020-12-01 11:13] yokotaso commented on #536
@jeromepasvantis @JS1010111 @mayken
I run into a same issue. Perhaps, would you have value `ios.max_concurrent_pushes` in config.yaml ?

https://github.com/appleboy/gorush/blob/master/config/config.go#L334

I run gorush config without `ios.max_concurrent_pushes`. I confirmed like below:

[code]

And I send APNs push via gorush, gorush would be hungup.
With set positive integer in `ios.max_concurre

[2020-12-14 10:34] rrjanbiah opened #552 "shove vs gorush?"
Related: https://github.com/pennersr/shove/issues/3

Are there any comparison with shove? (Apart from shove offering Telegram support?)

[2020-12-14 15:35] appleboy commented on #552
I see the main difference is the queue system in `shove`. Gorush doesn't support any queue service.

[2020-12-14 15:35] #552 closed

[2020-12-15 05:08] rrjanbiah commented on #552
@appleboy Thank you!

[2020-12-16 21:10] leetal opened #554 "APNS (iOS): Setting "message" together with for example "title" nullifies the "message""
So, after digging a little i found out that if you use the default notification payload values `Title` and `Message` together, the `Message`-part of the APNS-payload is nulled.

Essentially, if just setting the `Message` and **NOT** the `Title`, the APNS payload to the APNS servers will look like:
`{"aps":{"alert":"hello"}}` (where `Message=hello`)

**BUT**

Setting **BOTH** `Title` and `Message`

[2020-12-16 22:48] appleboy commented on #554
closed via #553

[2020-12-16 22:48] #554 closed

[2020-12-17 09:34] tomquas commented on #536
thx @yokotaso, setting max_concurrent_pushes fixed it for me, too

[2020-12-17 11:34] skorobkov commented on #552
Gorush supports HMS (Huawei Mobile Services)

[2020-12-18 15:40] rrjanbiah commented on #552
@skorobkov Thank you!

[2020-12-31 19:47] SpaWn2KiLl commented on #536
thanks @yokotaso , fixed it for me also 👍

[2021-01-05 08:13] hakkiyagiz commented on #538
I have same issue on logging format. Our logging trace system tries to read as string format but all rows returns as json dictionary.

[2021-01-08 21:38] tetra12 opened #555 "Kubernetes deploy fail"
Hello

I'm trying to deploy Gorush v.1.13.0, but getting the following error on a pod start, pls find details below.
System
Ubuntu 20.04.1
Kubernetes: 1.20.1
Gorush: 1.13.0

[code]
Pls let me know if you need more info on this bug.

Thanks for building Gorush !

[2021-02-09 19:32] vikmeup opened #557 "x509: certificate signed by unknown authority""
I'm currently receiving this error when running an instance of gorush on Heroku.

[code]

Attaching information from Heroku support team:

[2021-02-09 22:58] edmorley commented on #557
Cross-reference sideshow/apns2/issues/182.

[2021-02-11 10:09] DoubleHub commented on #361
I am getting the same error, and I can't generate a Legacy Server Key since Google disabled them in March 2020. How can I use the new Server Key with Gorush?

[2021-02-11 10:13] giovanni-orciuolo commented on #550
+1

[2021-03-08 19:54] JS1010111 commented on #536
Thanks @yokotaso! Works for me with `ios.max_concurrent_pushes`.

[2021-03-10 16:50] SebastienMelki commented on #536
THANK YOU

[2021-03-10 16:51] SebastienMelki commented on #536
THANK YOU

[2021-03-14 03:12] linuxpham opened #560 "Error when generate proto file"
Hi admin,
In file `gorush.proto`, you should change :
"Priority Priority = 16;" => "Priority priority = 16;" (at line 39)
There are some errors when generating "pb" file with this current file.

[2021-03-17 09:44] marius-bardan commented on #99
any updates on this one?

[2021-03-23 16:26] Mathgobbo opened #563 "Enviroment variables in Config.yml ?"
I'd like to know if there is any way to use enviroment variables in the config.yml.
I'm using docker-compose with a custom config.yml.

Is there any way to add the env variables in the docker-compose service and the config.yml can read them?

[2021-03-25 15:35] marius-bardan commented on #365
might be addressed via #564

[2021-03-27 10:22] janvda commented on #547
@jason-shen , I am also interested in using voip push for ios.  You are referring to PR #424 but that PR is merged.  So I would expect that it should be possible now.

[2021-03-27 18:38] jason-shen commented on #547
I still haven't got around trying this, would be cool if you could try it out, and let us know the result

[2021-04-02 08:39] janvda commented on #547
@jason-shen in order to try this, I think that i need to create

- a private key to access the ANPS service OR
- APNs authentication token signing key

and I can only create those when having a paid apple developer account (= 99 $ /year).  With the free apple developer account I don't seem to be able to create those keys.

[2021-04-02 08:45] janvda opened #565 "Is it possible to send ios push notification when having only a free apple developer account ?"
I think it is NOT possible to send ios push notification when having a free apple developer account.
If you want to send ios push notification you need:
 - a APNs authentication token signing key OR
 - private key to access the APNs

I don't think you can create these keys with a free apple developer account.
For that you need a paid apple developer account (99 $/year).

[2021-04-02 10:17] jason-shen commented on #547
I have one, I can create a test key for you if you want one

[2021-04-03 08:10] janvda commented on #547
Thanks for the offer, I am wondering what you would need exactly in that case from me in case of Establishing a Certificate-Based Connection to APNs (another option is a token based connection).

* https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/establishing_a_certificate-based_connection_to_apns

**Obtain a Provider Certificate from Apple**
[cod

[2021-04-14 10:46] SanghoYang opened #566 "APNS push notification with different APNS push server info via Web API"
Hi,
`gorush` is a great solution. Thank you all who contribute this project.

Here is my question or suggestion.

For Android(FCM) push: I specified a FCM server key(`android:` - `apikey`) in `config.yml` before I started `gorush`. Then, I didn't have to include the server key of `"api_key"` in JSON body of the FCM POST API whenever I sent a FCM push. But, if I specify a different server key of `"

[2021-04-19 07:46] qwertycommander opened #567 "Silent notifications on iOS not working"
It seems that silent notifications are not working for me on iOS.

I followed Apple's instruction by only providing an APNS payload of `content-available`, but they don't seem to get delivered.
#438 seems to have the same issue with no fix. When I provide a title, the APN gets delivered, but when it's omitted, it does not.

[#438 ](https://github.com/appleboy/gorush/issues/438)

[2021-04-19 08:18] appleboy commented on #563
Yes, see the YAML example:

[code]

Set `GORUSH_MAX_NOTIFICATION` to change the `max_notification` value.

[2021-04-19 08:18] #563 closed

[2021-04-19 08:19] appleboy commented on #563
See the example: https://github.com/appleboy/gorush/blob/master/docker-compose.yml#L15

[2021-04-20 06:49] keremoge commented on #566
For now it is configured to push notifications for all your iOS Apps in same Team id just by one config, But if you have different Account/Brand you should add one more **gorush** instance for that.

1. _gorush_Team1_ image with Team1 config
2. _gorush_Team2_ image with Team2 config

[2021-04-20 07:07] keremoge commented on #567
I tried following request and you can check the APNS request below.
Can you share your gorush and APNS request?

request going gorush:
[code]

request going APNS:
[code]

[2021-04-20 11:12] SanghoYang commented on #566
Thanks, @keremoge . But, my suggestion is for running one gorush for multiple Team ids of multiple apps and for the total number of Team ids is not specified.

[2021-05-09 16:34] guanana opened #571 "Error on init, not respecting enable option"
Hello,

I'm new to the program but I was trying to setup a simple POC. I'm using docker and mounting the config file from the host. I grabbed the config file from the example showed in this repo, but I'm getting this error:
`gorush    | {"level":"fatal","msg":"Missing Huawei API Key","time":"2021-05-09T16:30:29Z"}`

I thought... okay fair enough I didn't configure any API Key for Huawei, so I went

[2021-05-12 06:13] keremoge commented on #571
Hi, if you use stable **1.13.0** version you should change `appsecret` string to `apikey` for Huawei configs

We need a new docker image for new Huawei 4.0 Api configs. @appleboy

[2021-05-12 06:24] keremoge commented on #571
#572

[2021-05-14 23:12] appleboy commented on #571
closed via #572

[2021-05-14 23:25] appleboy commented on #571
@keremoge

v1.13.0 doesn't support Huawei device

[2021-05-14 23:25] appleboy commented on #571
@guanana You try the latest tag of image?

[2021-05-18 05:47] keremoge commented on #571
I think He doesn't use Huawei config, by changing to `apikey` He just wont get an error.

[2021-05-20 02:55] guanana commented on #571
Hey,

No I wasn't using Huawei but that error stopped me from even booting up.
The main issue is the default example in the config is not sufficient and
setting it to disable doesn't make it better

On Tue, 18 May 2021, 06:47 kerem, ***@***.***> wrote:

[2021-05-26 14:14] keremoge commented on #571
I'm using `latest` image, and when I set Huawei config to false I dind't get any error, can you use `latest` image

[2021-05-29 07:01] #557 closed

[2021-06-07 14:12] michaelpjohnson commented on #312
Rather than create a new Issue, I want to resurrect this one. The last release on the release page was in July 2020. Do you (@appleboy) have plans to make more formal releases in the future? There are many bug fixes etc in the `main` branch since July 2020.

[2021-06-12 23:29] danthegoodman1 opened #575 "Add Decoupled Queue Support"
A really good feature that https://github.com/pennersr/shove implements is the ability to decouple the server from the producer with a queue, allowing the producer to keep filling the queue even if the notification server is down.

A great solution to support many platforms would be to use https://gocloud.dev/howto/pubsub/subscribe

This provides a great way to support many easy to use platforms l

[2021-06-18 17:34] ycherniavskyi commented on #571
@keremoge hm strange but I get this error with `latest` image and next stub config:
<details>
  <summary>config.yml</summary>

[code]

</details>

Here is docker output:
[code]

[2021-06-19 01:55] AlhasanIQ opened #576 "Twilio Support"
I am willing to add Support for Twilio SMS/Whatsapp if it is considered in-scope of the project.

[2021-06-20 08:44] keremoge commented on #571
I found the bug, I will make a PR today

[2021-06-20 10:30] keremoge commented on #571
PR for bugfix : #577

[2021-06-21 16:18] appleboy commented on #571
fixed in #577

[2021-06-21 16:18] #571 closed

[2021-06-26 20:20] genofire opened #578 "Support of UnifiedPush"
e.g. https://gotify.net/

More Information of UnifiedPush here:
https://unifiedpush.org/

[2021-06-26 20:25] genofire commented on #576
I do not believe it is in-scope - this is an Service for Webplatform, to send PushNotifications to the (own develop) App. So that this App knows, that something happen on the Webplatform.

The Scope is, the inform own developing Apps. So Whatsapp-App has his own PushNotification Service, that you have new Message on Whatsapp-Platform.

[2021-06-27 00:43] AlhasanIQ commented on #576
I don't believe that what you said is particularly accurate.

The reason I suggested Twilio (sms,whatsapp,sendgrid, ...etc) is the way i think of this project, as a "toolkit"-like app to manage my "notifications". Most modern webservices send sms'es, emails, and push notifications. And it would be relatively trivial to add this much needed functionality to gorush (as drivers/adapters).

Doesn't ev

[2021-06-27 03:31] appleboy commented on #575
duplicated of https://github.com/appleboy/gorush/issues/125

[2021-06-27 06:42] karmanyaahm commented on #578
For some more context, to gorush, UnifiedPush is a provider like FCM, APNS, etc. but it allows self-hosting the push server. The [server specification](https://unifiedpush.org/spec/server/) is here. A (much more basic than gorush) gateway - also in Go - is [here](https://github.com/UnifiedPush/common-proxies). The "gateway" from an application server to the push provider is what I understand gorus

[2021-06-29 09:16] keremoge commented on #578
it will not support iOS pushes, right?

[2021-06-29 13:41] karmanyaahm commented on #578
Not right now, because iOS doesn't allow running user apps in the background. Currently support is for Android and Linux-like platforms.

[2021-07-11 13:24] appleboy commented on #312
@michaelpjohnson released https://github.com/appleboy/gorush/releases/tag/v1.14.0

[2021-07-11 13:24] #312 closed

[2021-07-12 14:09] keremoge opened #582 "BUG: "panic: refresh token fail""
There is a recent bug at huawei token refresh.You can see **`panic: refresh token fail`** at your logs.

Recently [HMS-Core](https://github.com/HMS-Core/hms-push-serverdemo-go) team made a fix: https://github.com/HMS-Core/hms-push-serverdemo-go/commit/afaab2fe7dd4cfcaa82a043cd65bbc5677117f6c

But **[gorush](https://github.com/appleboy/gorush)** uses forked version of above repository: [go-hms-push

[2021-07-13 05:47] keremoge commented on #555
related to #582

[2021-07-13 06:16] keremoge commented on #582
related to #555

[2021-07-13 22:13] dewf4ff opened #588 "Using p8 in webapi"
Hi,
I want gorush to use for different apps. Can I send p8 via webapi for different apps?

Maybe I can pass teamId, keyId and keyPath via web api? And store different certs locally.

[2021-07-13 22:40] michaelpjohnson commented on #312
You rock @appleboy ! Thanks

[2021-07-14 15:03] keremoge commented on #588
No, for now you can't pass teamId+keyId+certificate via web api,
If your apps are in same account/Team, than all your apps can use same teamId+keyId+certificate,

but if you have an app in another account/team than for now you should **multiply** gorush services;

**_myGorushService1_** service for team1 with team1 configs and **_myGorushService2_** service for team2 with team2 configs.

[2021-07-15 16:42] appleboy commented on #125
We will support different queues as a backend. like

* AWS SQS
* nats
* nsq
* simple channel (default.)

I have implemented the worker interface in https://github.com/appleboy/gorush/pull/589

[2021-07-16 03:44] appleboy commented on #582
I will set the Huawei config as `disabled by default.

https://github.com/appleboy/gorush/blob/45be946f54745c6f829453542993ef33d16407e7/config/config.go#L60

[2021-07-16 14:22] dewf4ff commented on #588
Thanks

[2021-07-16 14:22] #588 closed

[2021-07-17 00:24] #469 closed

[2021-07-17 04:55] appleboy opened #597 "Move Appveyor to GitHub Actions for Windows build"
as title. See: https://ci.appveyor.com/project/appleboy/gorush-fp5dh always fail.

[2021-07-17 05:25] appleboy opened #599 "Support different Queue as backend."
See the following previous requirement.

1. https://github.com/appleboy/gorush/issues/125
2. https://github.com/appleboy/gorush/issues/575
3. https://github.com/appleboy/gorush/issues/330

## Progress

Please see the following queue system.

* [X] support simple Queue using the channel in Go https://github.com/appleboy/queue
* [x] support [NSQ](https://nsq.io/) https://github.com/appleboy/gorush/p

[2021-07-17 05:35] appleboy commented on #330
We can send the notification message to a specific URL. Please see the following setting in YAML:

[code]

[2021-07-25 17:20] linuxpham commented on #566
You can try at: https://github.com/miczone/gorush

[2021-07-26 07:49] SanghoYang commented on #566
Thanks for this, @linuxpham . I will leave feedback after I try.

[2021-07-28 01:57] Deruwei opened #615 "hms push success but i can't receive notification of huawei device"

[2021-08-01 13:06] appleboy opened #619 "Function params involve heavy amount of copying"
See more detailed information: https://deepsource.io/gh/appleboy/gorush/issue/CRT-P0003/occurrences

[2021-08-01 13:07] #599 closed

[2021-08-01 13:08] appleboy commented on #125
Gorush supports NSQ and NATS in the `master` branch now. See the detailed information: https://github.com/appleboy/gorush/issues/599

[2021-08-01 13:08] #125 closed

[2021-08-01 13:08] appleboy commented on #575
Gorush supports NSQ and NATS in the `master` branch now. See the detailed information: https://github.com/appleboy/gorush/issues/599

[2021-08-01 13:08] #575 closed

[2021-08-01 13:09] appleboy commented on #330
Gorush supports NSQ and NATS as a queue system in the `master` branch now. See the detailed information: https://github.com/appleboy/gorush/issues/599

[2021-08-01 13:09] #330 closed

[2021-08-01 23:05] #582 closed

[2021-08-02 06:07] #619 closed

[2021-09-01 09:07] linuxpham commented on #566
@SanghoYang : is it work ?

[2021-09-01 09:36] SanghoYang commented on #566
@linuxpham I'm sorry but I had no chance to use it. And, I'm afraid that I would have no chance in the future because the development plan was changed. Thanks to your contribution and reminding me of this.

[2021-09-01 09:36] #566 closed

[2021-09-02 05:20] appleboy opened #631 "Support Redis Queue as Backend."

[2021-10-06 17:36] chaosaffe opened #634 "Consider adding `hacktoberfest` topic to appleboy/gorush"
October has come, along with DigitalOcean's [Hacktoberfest](https://hacktoberfest.digitalocean.com/), encouraging quality contributions to open source.

DigitalOcean made significant changes to the program to promote high-quality contributions for 2021, with strict rules for participants.

I would love to encourage others to participate with this project, and would be willing to take on some of th

[2021-11-25 12:54] SpaWn2KiLl opened #644 "HMS Push notifications issues"
While using HMS Push notifications with GoRush 1.14.0 I've identified some issues.

The first one was GoRush doesn't send `AndroidNotification` data when `huawei_data` is sent

After fixing it I've faced another issue: `foreground_show` variable was not being sent with `false` to HMS services which leads to the application always showing OS notification even when it is in foreground.

The first is

[2021-12-09 15:48] appleboy commented on #536
I add `100` as default value of `max_concurrent_pushes`.

[2021-12-09 15:48] #536 closed

[2021-12-09 15:49] appleboy commented on #644
fixed in #645 Please try the latest version.

[2021-12-09 15:49] #644 closed

[2021-12-09 15:49] appleboy commented on #615
fixed in #645 Please try the latest version.

[2021-12-09 15:49] #615 closed

[2021-12-09 16:08] SpaWn2KiLl commented on #644
Just tested latest version, seems to be working properly for my use case! Thanks :)

[2021-12-10 13:26] renom commented on #348
Is it still unresolved?

[2021-12-30 04:19] lphhh opened #650 "huawei push how to send custom fields using grpc"
use NotificationRequest setData seem not work

[2021-12-30 05:57] #650 closed

[2021-12-30 07:51] lphhh opened #651 "push notification for Huawei. invalid memory address or nil pointer dereference"
notification_hms.go:133
notification_hms.go:197
main.go:256
in master branch.

[2022-01-01 14:49] appleboy commented on #651
@lphhh Please describe more detailed information.

[2022-01-01 15:04] #631 closed

[2022-01-07 07:38] bancsdani opened #653 "Worker panics, when using NATS queue due to missing metric"
Gorush creates a nats worker when set in the config here:
https://github.com/appleboy/gorush/blob/3f411ebe8992d151399f00645f94f506b04ccbb8/main.go#L342
the problem is, it is not setting the metric member of the worker, and when `incBusyWorker(),` `decBusyWorker()` and `BusyWorkers()` is called, we get a panic since metric is nil. Then for each message, a worker stops until we receive the number of

[2022-01-28 10:25] annthonite commented on #651
Following up on this issue. I also encountered it

DEBU[2022/01/28 - 18:07:06] Start push notification for Huawei
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x2 addr=0x18 pc=0x1055e51c4]

goroutine 1 [running]:
github.com/appleboy/gorush/notify.GetHuaweiNotification(0x1400063f998)
	/private/tmp/gorush-20220127-65387-ttmq22/s

[2022-02-03 09:05] appleboy commented on #651
@annthonite  for latest version in master branch?

[2022-02-03 09:06] appleboy commented on #653
@bancsdani I will take it.

[2022-02-03 09:08] annthonite commented on #651
yes, in master branch

[2022-02-03 09:37] #653 closed

[2022-02-03 09:37] appleboy commented on #653
@bancsdani Fixed in master branch. Please try it out.

[2022-02-12 12:44] appleboy commented on #651
fixed by https://github.com/appleboy/gorush/pull/660

[2022-02-12 12:44] #651 closed

[2022-02-14 20:14] GonzaloAvilez opened #661 "time-sensitive apns2 is support right now but not implemented yet"
These days  apns2 library has support for time-sensitive notifications.

* Add iOS 15 payload additions

- Add interruption-level to payload
 interruption-level options:
    - passive
    - active (default if none is passed to apns)
    - time-sensitive
    - critical (requires Apple entitlement)

https://github.com/sideshow/apns2/commit/9c1d7c6766466bdcc498dbec4915ef52a9dbff06

Do you think that

[2022-02-21 06:49] #634 closed

[2022-02-22 10:19] selimgul opened #663 "Huawei "SendMessage" result processing"
There is no "resp.Logs" append code in "notification_hms.go" file as "notification_fcm.go". So, if there is a failure, "FeedbackURL" is not called for informing that error in "notification.go"

I propose to add following lines where "res.Code" is checked for failure, in line 214, "notification_hms.go".

**errLog := logPush(cfg, core.FailedPush, req.Tokens[0], req, errors.New(res.Code + "-" + res.M

[2022-03-23 12:02] kelany257 opened #665 "problem notification with Android"
Actually I am facing problem while i am sending notification using GoRush to android  it respond with | succeeded-push | but no notification delivered. on other hand when i send it using  Firebase account it delivered.

[2022-03-28 07:16] keremoge commented on #663
You can make a PR

[2022-04-16 16:33] ycherniavskyi commented on #547
I would like to confirm that the current stable version support `voip` as `push_type`.

Here is the post that sends VoIP PushKit message to iOS:
[code]

[2022-04-17 03:17] #418 closed

[2022-04-21 14:15] Timac opened #668 "KeyPath can't contain a dot when deploying with Terraform"
**Description**

GoRush uses the `KeyPath` file extension in order to determine how to create the certificate (.p12, .pem, .p8). However if you use Terraform to deploy GoRush, the name of `volume_mounts` can only contain alphanumeric characters, hyphens and underscores but no dots. This seems to make it impossible to deploy GoRush with Terraform and mount a `KeyPath` file from the GCP Secret Manag

[2022-04-22 03:27] appleboy commented on #668
@Timac maybe you should try `KeyBase64` config load from terraform in GCP Secret Manager

https://github.com/appleboy/gorush/blob/c81a316047ac6d736aff359c30156f726e6f6241/notify/notification_apns.go#L81-L88

[2022-04-22 05:47] Timac commented on #668
@appleboy Thanks for the suggestion. I could indeed save the base64 key in GCP Secret Manager. However I don't know how I could then load this secret from GCP Secret Manager to set `KeyBase64`.

As far as I know, GoRush expects the `key_base64` value to be set in its YAML config file:
https://github.com/appleboy/gorush/blob/87c2977f6a4262843ba69562bdaeb1fdfb538069/config/testdata/config.yml#L70

I

[2022-04-22 06:45] appleboy commented on #668
Use env variable like https://github.com/appleboy/gorush/issues/398#issuecomment-472504120

`GORUSH_IOS_KEY_BASE64`

[2022-04-22 09:19] Timac commented on #668
Thanks a lot @appleboy !

Using `GORUSH_IOS_KEY_BASE64` works perfectly. I will close this ticket since there is a good existing solution.

[2022-04-22 09:19] #668 closed

[2022-04-28 12:52] jvallesm opened #671 "structpb.Struct serialisation in proto Send method"
Hi 👋

https://github.com/appleboy/gorush/pull/638, aimed to fix https://github.com/appleboy/gorush/issues/418, introduced a change on how `structpb.Struct` objects in the gRPC `Send` request are serialised.

### Context

Some extra data is sent in the notification request so the mobile knows the notification source in order to provide analytics and can display a popup within the app:

[code]

In G

[2022-05-04 08:23] appleboy opened #672 "Upgrade Queue Package to v0.1.1 version"
Support redis-stream package.

[2022-05-05 05:56] #672 closed

[2022-05-05 13:13] appleboy commented on #671
fixed in #674

[2022-05-05 13:14] #671 closed

[2022-05-13 14:10] SpaWn2KiLl opened #676 "Update alpine base image - Fix CVEs"
Currently, the base image being used is `plugins/base:{os-arch}` as defined [here](https://github.com/appleboy/gorush/blob/e89ea00626a4402c98beb90b86659c9b13180a2f/docker/Dockerfile.linux.amd64#L1) but it is not being properly maintened, it is using an [old alpine image](https://github.com/drone-plugins/drone-base/blob/master/docker/Dockerfile.linux.amd64#L1) that have multiple security vulnerabil

[2022-05-19 10:53] 1appstudio opened #681 "Notification Issue"
Hi,

My Development System is Apple M1 chip.

I have a react native application which supports both Android & Its notification. Currently I am using firebase to send notification to my device android & IOS device.

Now I am willing to integrate your code, So I have followed the steps you provided on the document

1. git clone https://github.com/appleboy/gorush.git
2. cd gorush
3. go install

Added

[2022-05-20 06:47] FvApp commented on #681
Any update on this?

[2022-05-23 15:51] FvApp commented on #681
I got success by did the following way.

1. Download go language and install on my Mac.
2. brew install wget
3. Download the precompile version using wget https://github.com/appleboy/gorush/releases/download/v1.15.0/gorush-v1.15.0-darwin-amd64 -O gorush
4. Make the downloaded file executable
5. Check gorush command using ./gorush
6. copy the config file from (project directory/config/testdata/conf

[2022-08-04 09:11] ivandotv commented on #563
For future readers, this should be: `GORUSH_CORE_MAX_NOTIFICATION`

Since the value is in the `core` subsection of the config.

[2022-08-04 09:19] ivandotv opened #684 "What does Core.max_notification do?"
There is this option in the config
[code]
But it is not explained, both in the config and in the source files.

[2022-08-04 10:04] ivandotv opened #685 "APNs token based connection"
Is token-based authentication to the APNs server supported?
Is don't see any configuration options for that, looking at the issues I see that it was supported back in 2017.

https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/establishing_a_token-based_connection_to_apns

[2022-08-05 08:24] ivandotv opened #686 "Web hook security issue"
Webhooks need to have some kind of protection otherwise, anyone on the internet can call them.

It would be great if the server when triggering the hook could send a custom header with a custom value, so we know that
the hook is triggered by the real server.

[2022-08-15 21:39] kimrgrey commented on #686
@ivandotv there is an easy way to secure web hook URL if provider doesn't support any kind of security header: via token in web hook URL. So, instead of using `https://example.com/webhook` you go with `https://example.com/webhook/<SOME TOKEN HERE>`. Then inside of web hook implementation you take token from parameters and validate it. Not saying that this is the best way to go, just sharing in cas

[2022-08-23 21:15] ColeTownsend commented on #686
We had success using a proxy with an authenticated username and password. Annoying but works.

[2022-08-24 04:59] zeuikli commented on #358
@sthkindacrazy What is your solution? I also encountered this problem.

[2022-08-24 06:32] zeuikli opened #688 "How to use gorush on AWS Lambda with custom environment configuration"
Hi Appleboy ,

I already deploy go lambda function to AWS, but I cannot send iOS push and Android push with my Android_API_Key and iOS certificate, Can you share Lambda how to use custom environment configuration.
![截圖 2022-08-24 14 31 40](https://user-images.githubusercontent.com/7897668/186347019-dd2f0ecc-ee98-4c33-bd80-dcb7e509f4a4.png)

[2022-08-27 23:35] appleboy commented on #688
See the solution here: https://github.com/appleboy/gorush/issues/398#issuecomment-472504120

[2022-09-01 13:18] sankethkini commented on #535
@appleboy I have tried making queue_num as ```zero``` but it is taking it as ```8192```  and the issue ```max capacity reached``` still persists. What further steps can we take to avoid this issue. Please help to close this issue ASAP.

[2022-09-02 10:59] appleboy commented on #535
@sankethkini you can try another solution like Redis, NSQ, or Nats as queuing system. Please try the v1.15 version.

https://github.com/appleboy/gorush/blob/7f4a6670a9822e7f326c622e77a68585abdee8f1/config/config.go#L65-L79

https://github.com/appleboy/gorush/releases/tag/v1.15.0

[2022-09-06 11:35] sankethkini commented on #535
We are trying to use ```redis``` for queue. For that we used following configs
1. queue.engine: redis
2. queue.redis.addr: host:6379

We are not able to see if `queue` related changes are applied by hitting /api/config.  Also redis as queue is not applied as we have checked it by restarting pod.
using version : 1.13

[2022-09-08 09:26] sankethkini opened #689 "Redis memory is not getting released even after notifications are sent."
Hello,
I am using `redis` for the queue. I found that the used memory of the redis for the queue is not getting released even after all the notifications are sent successfully. Also, I have tried to restart the Gorush program, but still the memory is not released. 
@appleboy Can you please help us resolve the issue?

<img width="628" alt="Screenshot 2022-09-08 at 2 43 59 PM" src="https://user-imag

[2022-09-08 09:42] sankethkini opened #690 "Impact of the increasing core.worker_num"
Hello,
@appleboy as you know that by default `core.worker_num` is equal to `runtime.NumCPU()`. What is the impact on performance and cpu usage if we increase this more.

[2022-09-10 11:15] sankethkini commented on #689
@appleboy how can I evict the old records from redis once their work is done.

[2022-09-12 15:22] sekulicd opened #691 "Panic recovery for GRPC server"
If there is a panic, when invoking GRPC endpoints, server crushes as panic recovery interceptor is not added.

[2022-09-20 06:11] sankethkini opened #693 "Notifications are not getting sent when gorush kept idle for long time"
Hello @appleboy,

We have observed that after keeping gorush idle for a long time (10-12hrs), the gorush is not sending the notifications. Its accepting the `POST /api/push` request and sending `200` response code. By logs I can see that its adding the requests into the queue (we are using redis) but the `RunFunc(notify.Run(cfg))` is not getting called. When we restart the pod `RunFunc(notify.Run(

[2022-10-29 14:43] appleboy commented on #693
@sankethkini OK. I will take it.

[2022-10-29 14:45] appleboy commented on #689
I will take it.

[2022-10-30 09:31] sankethkini commented on #693
hey @appleboy I have fixed the issue for my usecase kindly see the pr
https://github.com/golang-queue/redisdb-stream/pull/15

[2022-10-30 09:49] sankethkini commented on #689
@appleboy we have fixed this issue as per our usecase. Kindly refer this pr : https://github.com/golang-queue/redisdb-stream/pull/16

[2022-10-31 11:44] dm-aq opened #695 "Using projectId for sending hms push(huawei)"
Hi,
Is it possible to send push by projectId instead of appId? According to [hms docs](https://developer.huawei.com/consumer/en/doc/development/HMSCore-References/https-send-api-0000001050986197#section134322259125) there is separate rest-method

[2022-11-09 13:40] bondhan opened #698 "HMS push not working"
Hi,

I was able to sent the notif sucessfully, however it never reached the device  (huawei simulator).
![success](https://user-images.githubusercontent.com/641714/200844202-df0b4176-86b1-46a7-b1b6-3e4b2cd60678.jpg)

However using the huawei console, it is always successful. Has anyone faced this issue before? Appreciate if you could share some information, thanks!

![wawei](https://user-images.gi

[2022-11-10 21:43] andrhamm commented on #685
Token authentication with APNS is "p8"

[2022-11-14 09:47] bondhan commented on #698
It seems the front end need the data instead of notification object, it works now at our end thanks.

[2022-11-14 09:47] #698 closed